<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.DatasetColumnMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TB4D_DATASET_COLUMN ORDER by COLUMN_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TB4D_DATASET_COLUMN</delete>
    <delete id="deleteByDataSetId" parameterType="java.lang.String">
        delete from TB4D_DATASET_COLUMN
        where COLUMN_DS_ID = #{dataSetId,jdbcType=NVARCHAR}
    </delete>
    <select id="nextOrderNum" resultType="integer">select case when max(COLUMN_ORDER_NUM) is null then 1 else max(COLUMN_ORDER_NUM)+1 end ORDERNUM from TB4D_DATASET_COLUMN</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TB4D_DATASET_COLUMN<where>
        <if test="columnDsId !=null and columnDsId !=''"> and COLUMN_DS_ID like #{columnDsId} </if>
        <if test="columnCaption !=null and columnCaption !=''"> and COLUMN_CAPTION like #{columnCaption} </if>
        <if test="columnName !=null and columnName !=''"> and COLUMN_NAME like #{columnName} </if>
        <if test="columnCreater !=null and columnCreater !=''"> and COLUMN_CREATER like #{columnCreater} </if>
        <if test="columnUpdater !=null and columnUpdater !=''"> and COLUMN_UPDATER like #{columnUpdater} </if>
        <if test="columnDesc !=null and columnDesc !=''"> and COLUMN_DESC like #{columnDesc} </if>
        <if test="columnDefaultType !=null and columnDefaultType !=''"> and COLUMN_DEFAULT_TYPE like #{columnDefaultType} </if>
        <if test="columnDefaultValue !=null and columnDefaultValue !=''"> and COLUMN_DEFAULT_VALUE like #{columnDefaultValue} </if>
        <if test="columnDefaultText !=null and columnDefaultText !=''"> and COLUMN_DEFAULT_TEXT like #{columnDefaultText} </if>
        <if test="columnTableName !=null and columnTableName !=''"> and COLUMN_TABLE_NAME like #{columnTableName} </if>
    </where>ORDER by COLUMN_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TB4D_DATASET_COLUMN
 where COLUMN_ORDER_NUM = (select max(COLUMN_ORDER_NUM) from TB4D_DATASET_COLUMN where COLUMN_ORDER_NUM<(select COLUMN_ORDER_NUM from TB4D_DATASET_COLUMN where COLUMN_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TB4D_DATASET_COLUMN
 where COLUMN_ORDER_NUM = (select min(COLUMN_ORDER_NUM) from TB4D_DATASET_COLUMN where COLUMN_ORDER_NUM>(select COLUMN_ORDER_NUM from TB4D_DATASET_COLUMN where COLUMN_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
