<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.DatasetRelatedTableMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_DATASET_RELATED_TABLE ORDER by RT_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TBUILD_DATASET_RELATED_TABLE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(RT_ORDER_NUM) is null then 1 else max(RT_ORDER_NUM)+1 end ORDERNUM from TBUILD_DATASET_RELATED_TABLE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_DATASET_RELATED_TABLE<where>
        <if test="rtDsId !=null and rtDsId !=''"> and RT_DS_ID like #{rtDsId} </if>
        <if test="rtTableName !=null and rtTableName !=''"> and RT_TABLE_NAME like #{rtTableName} </if>
        <if test="rtTableCaption !=null and rtTableCaption !=''"> and RT_TABLE_CAPTION like #{rtTableCaption} </if>
        <if test="rtTableId !=null and rtTableId !=''"> and RT_TABLE_ID like #{rtTableId} </if>
        <if test="rtTableType !=null and rtTableType !=''"> and RT_TABLE_TYPE like #{rtTableType} </if>
        <if test="rtDesc !=null and rtDesc !=''"> and RT_DESC like #{rtDesc} </if>
    </where>ORDER by RT_ORDER_NUM DESC</select>
    <select id="selectByDataSetId" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_DATASET_RELATED_TABLE where RT_DS_ID=#{dataSetId} ORDER by RT_ORDER_NUM DESC</select>
    <delete id="deleteByDataSetId" parameterType="java.lang.String">
        delete from TBUILD_DATASET_RELATED_TABLE
        where RT_DS_ID = #{dataSetId,jdbcType=NVARCHAR}
    </delete>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_DATASET_RELATED_TABLE
                                                                                                          where RT_ORDER_NUM = (select max(RT_ORDER_NUM) from TBUILD_DATASET_RELATED_TABLE where RT_ORDER_NUM<(select RT_ORDER_NUM from TBUILD_DATASET_RELATED_TABLE where RT_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_DATASET_RELATED_TABLE
                                                                                                             where RT_ORDER_NUM = (select min(RT_ORDER_NUM) from TBUILD_DATASET_RELATED_TABLE where RT_ORDER_NUM>(select RT_ORDER_NUM from TBUILD_DATASET_RELATED_TABLE where RT_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>