<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.DatabaseLinkMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TB4D_DATABASE_LINK ORDER by DBLINK_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TB4D_DATABASE_LINK</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(DBLINK_ORDER_NUM) is null then 1 else max(DBLINK_ORDER_NUM)+1 end ORDERNUM from TB4D_DATABASE_LINK</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TB4D_DATABASE_LINK<where>
        <if test="dblinkValue !=null and dblinkValue !=''"> and DBLINK_VALUE like #{dblinkValue} </if>
        <if test="dblinkName !=null and dblinkName !=''"> and DBLINK_NAME like #{dblinkName} </if>
        <if test="dblinkType !=null and dblinkType !=''"> and DBLINK_TYPE like #{dblinkType} </if>
        <if test="dblinkDrivername !=null and dblinkDrivername !=''"> and DBLINK_DRIVERNAME like #{dblinkDrivername} </if>
        <if test="dblinkUrl !=null and dblinkUrl !=''"> and DBLINK_URL like #{dblinkUrl} </if>
        <if test="dblinkUser !=null and dblinkUser !=''"> and DBLINK_USER like #{dblinkUser} </if>
        <if test="dblinkPassword !=null and dblinkPassword !=''"> and DBLINK_PASSWORD like #{dblinkPassword} </if>
        <if test="dblinkDesc !=null and dblinkDesc !=''"> and DBLINK_DESC like #{dblinkDesc} </if>
        <if test="dblinkIsLocation !=null and dblinkIsLocation !=''"> and DBLINK_IS_LOCATION like #{dblinkIsLocation} </if>
        <if test="dblinkStatus !=null and dblinkStatus !=''"> and DBLINK_STATUS like #{dblinkStatus} </if>
    </where>ORDER by DBLINK_ORDER_NUM DESC</select>
</mapper>
