<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.DatasetMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        <constructor>
            <idArg column="DS_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_CAPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DS_CREATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DS_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_ISSYSTEM" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="DS_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_GROUP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_SQL_SELECT_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_SQL_SELECT_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_CLASS_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DS_REST_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        DS_ID, DS_CAPTION, DS_NAME, DS_ORGAN_ID, DS_CREATE_TIME, DS_CREATER, DS_UPDATE_TIME,
        DS_UPDATER, DS_TYPE, DS_ISSYSTEM, DS_ORDER_NUM, DS_DESC, DS_GROUP_ID, DS_STATUS,
        DS_SQL_SELECT_TEXT, DS_SQL_SELECT_VALUE, DS_CLASS_NAME, DS_REST_URL
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_DATASET
        where DS_ID = #{dsId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_DATASET
        where DS_ID = #{dsId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        insert into TB4D_DATASET (DS_ID, DS_CAPTION, DS_NAME,
                                  DS_ORGAN_ID, DS_CREATE_TIME, DS_CREATER,
                                  DS_UPDATE_TIME, DS_UPDATER, DS_TYPE,
                                  DS_ISSYSTEM, DS_ORDER_NUM, DS_DESC,
                                  DS_GROUP_ID, DS_STATUS, DS_SQL_SELECT_TEXT,
                                  DS_SQL_SELECT_VALUE, DS_CLASS_NAME, DS_REST_URL
                )
        values (#{dsId,jdbcType=VARCHAR}, #{dsCaption,jdbcType=VARCHAR}, #{dsName,jdbcType=VARCHAR},
                #{dsOrganId,jdbcType=VARCHAR}, #{dsCreateTime,jdbcType=TIMESTAMP}, #{dsCreater,jdbcType=VARCHAR},
                #{dsUpdateTime,jdbcType=TIMESTAMP}, #{dsUpdater,jdbcType=VARCHAR}, #{dsType,jdbcType=VARCHAR},
                #{dsIssystem,jdbcType=VARCHAR}, #{dsOrderNum,jdbcType=INTEGER}, #{dsDesc,jdbcType=VARCHAR},
                #{dsGroupId,jdbcType=VARCHAR}, #{dsStatus,jdbcType=VARCHAR}, #{dsSqlSelectText,jdbcType=VARCHAR},
                #{dsSqlSelectValue,jdbcType=VARCHAR}, #{dsClassName,jdbcType=VARCHAR}, #{dsRestUrl,jdbcType=VARCHAR}
                       )
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        insert into TB4D_DATASET
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dsId != null">
                DS_ID,
            </if>
            <if test="dsCaption != null">
                DS_CAPTION,
            </if>
            <if test="dsName != null">
                DS_NAME,
            </if>
            <if test="dsOrganId != null">
                DS_ORGAN_ID,
            </if>
            <if test="dsCreateTime != null">
                DS_CREATE_TIME,
            </if>
            <if test="dsCreater != null">
                DS_CREATER,
            </if>
            <if test="dsUpdateTime != null">
                DS_UPDATE_TIME,
            </if>
            <if test="dsUpdater != null">
                DS_UPDATER,
            </if>
            <if test="dsType != null">
                DS_TYPE,
            </if>
            <if test="dsIssystem != null">
                DS_ISSYSTEM,
            </if>
            <if test="dsOrderNum != null">
                DS_ORDER_NUM,
            </if>
            <if test="dsDesc != null">
                DS_DESC,
            </if>
            <if test="dsGroupId != null">
                DS_GROUP_ID,
            </if>
            <if test="dsStatus != null">
                DS_STATUS,
            </if>
            <if test="dsSqlSelectText != null">
                DS_SQL_SELECT_TEXT,
            </if>
            <if test="dsSqlSelectValue != null">
                DS_SQL_SELECT_VALUE,
            </if>
            <if test="dsClassName != null">
                DS_CLASS_NAME,
            </if>
            <if test="dsRestUrl != null">
                DS_REST_URL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dsId != null">
                #{dsId,jdbcType=VARCHAR},
            </if>
            <if test="dsCaption != null">
                #{dsCaption,jdbcType=VARCHAR},
            </if>
            <if test="dsName != null">
                #{dsName,jdbcType=VARCHAR},
            </if>
            <if test="dsOrganId != null">
                #{dsOrganId,jdbcType=VARCHAR},
            </if>
            <if test="dsCreateTime != null">
                #{dsCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsCreater != null">
                #{dsCreater,jdbcType=VARCHAR},
            </if>
            <if test="dsUpdateTime != null">
                #{dsUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsUpdater != null">
                #{dsUpdater,jdbcType=VARCHAR},
            </if>
            <if test="dsType != null">
                #{dsType,jdbcType=VARCHAR},
            </if>
            <if test="dsIssystem != null">
                #{dsIssystem,jdbcType=VARCHAR},
            </if>
            <if test="dsOrderNum != null">
                #{dsOrderNum,jdbcType=INTEGER},
            </if>
            <if test="dsDesc != null">
                #{dsDesc,jdbcType=VARCHAR},
            </if>
            <if test="dsGroupId != null">
                #{dsGroupId,jdbcType=VARCHAR},
            </if>
            <if test="dsStatus != null">
                #{dsStatus,jdbcType=VARCHAR},
            </if>
            <if test="dsSqlSelectText != null">
                #{dsSqlSelectText,jdbcType=VARCHAR},
            </if>
            <if test="dsSqlSelectValue != null">
                #{dsSqlSelectValue,jdbcType=VARCHAR},
            </if>
            <if test="dsClassName != null">
                #{dsClassName,jdbcType=VARCHAR},
            </if>
            <if test="dsRestUrl != null">
                #{dsRestUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        update TB4D_DATASET
        <set>
            <if test="dsCaption != null">
                DS_CAPTION = #{dsCaption,jdbcType=VARCHAR},
            </if>
            <if test="dsName != null">
                DS_NAME = #{dsName,jdbcType=VARCHAR},
            </if>
            <if test="dsOrganId != null">
                DS_ORGAN_ID = #{dsOrganId,jdbcType=VARCHAR},
            </if>
            <if test="dsCreateTime != null">
                DS_CREATE_TIME = #{dsCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsCreater != null">
                DS_CREATER = #{dsCreater,jdbcType=VARCHAR},
            </if>
            <if test="dsUpdateTime != null">
                DS_UPDATE_TIME = #{dsUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsUpdater != null">
                DS_UPDATER = #{dsUpdater,jdbcType=VARCHAR},
            </if>
            <if test="dsType != null">
                DS_TYPE = #{dsType,jdbcType=VARCHAR},
            </if>
            <if test="dsIssystem != null">
                DS_ISSYSTEM = #{dsIssystem,jdbcType=VARCHAR},
            </if>
            <if test="dsOrderNum != null">
                DS_ORDER_NUM = #{dsOrderNum,jdbcType=INTEGER},
            </if>
            <if test="dsDesc != null">
                DS_DESC = #{dsDesc,jdbcType=VARCHAR},
            </if>
            <if test="dsGroupId != null">
                DS_GROUP_ID = #{dsGroupId,jdbcType=VARCHAR},
            </if>
            <if test="dsStatus != null">
                DS_STATUS = #{dsStatus,jdbcType=VARCHAR},
            </if>
            <if test="dsSqlSelectText != null">
                DS_SQL_SELECT_TEXT = #{dsSqlSelectText,jdbcType=VARCHAR},
            </if>
            <if test="dsSqlSelectValue != null">
                DS_SQL_SELECT_VALUE = #{dsSqlSelectValue,jdbcType=VARCHAR},
            </if>
            <if test="dsClassName != null">
                DS_CLASS_NAME = #{dsClassName,jdbcType=VARCHAR},
            </if>
            <if test="dsRestUrl != null">
                DS_REST_URL = #{dsRestUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where DS_ID = #{dsId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        update TB4D_DATASET
        set DS_CAPTION = #{dsCaption,jdbcType=VARCHAR},
            DS_NAME = #{dsName,jdbcType=VARCHAR},
            DS_ORGAN_ID = #{dsOrganId,jdbcType=VARCHAR},
            DS_CREATE_TIME = #{dsCreateTime,jdbcType=TIMESTAMP},
            DS_CREATER = #{dsCreater,jdbcType=VARCHAR},
            DS_UPDATE_TIME = #{dsUpdateTime,jdbcType=TIMESTAMP},
            DS_UPDATER = #{dsUpdater,jdbcType=VARCHAR},
            DS_TYPE = #{dsType,jdbcType=VARCHAR},
            DS_ISSYSTEM = #{dsIssystem,jdbcType=VARCHAR},
            DS_ORDER_NUM = #{dsOrderNum,jdbcType=INTEGER},
            DS_DESC = #{dsDesc,jdbcType=VARCHAR},
            DS_GROUP_ID = #{dsGroupId,jdbcType=VARCHAR},
            DS_STATUS = #{dsStatus,jdbcType=VARCHAR},
            DS_SQL_SELECT_TEXT = #{dsSqlSelectText,jdbcType=VARCHAR},
            DS_SQL_SELECT_VALUE = #{dsSqlSelectValue,jdbcType=VARCHAR},
            DS_CLASS_NAME = #{dsClassName,jdbcType=VARCHAR},
            DS_REST_URL = #{dsRestUrl,jdbcType=VARCHAR}
        where DS_ID = #{dsId,jdbcType=VARCHAR}
    </update>
</mapper>