<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.DatasetRelatedTableMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetRelatedTableEntity">
        <constructor>
            <idArg column="RT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_DS_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_TABLE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_TABLE_CAPTION" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_TABLE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_TABLE_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="RT_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        RT_ID, RT_DS_ID, RT_TABLE_NAME, RT_TABLE_CAPTION, RT_TABLE_ID, RT_TABLE_TYPE, RT_DESC,
        RT_ORDER_NUM
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_DATASET_RELATED_TABLE
        where RT_ID = #{rtId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_DATASET_RELATED_TABLE
        where RT_ID = #{rtId,jdbcType=NVARCHAR}
    </delete>

    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetRelatedTableEntity">
        insert into TB4D_DATASET_RELATED_TABLE (RT_ID, RT_DS_ID, RT_TABLE_NAME,
                                                RT_TABLE_CAPTION, RT_TABLE_ID, RT_TABLE_TYPE,
                                                RT_DESC, RT_ORDER_NUM)
        values (#{rtId,jdbcType=NVARCHAR}, #{rtDsId,jdbcType=NVARCHAR}, #{rtTableName,jdbcType=NVARCHAR},
                #{rtTableCaption,jdbcType=NVARCHAR}, #{rtTableId,jdbcType=NVARCHAR}, #{rtTableType,jdbcType=NVARCHAR},
                #{rtDesc,jdbcType=NVARCHAR}, #{rtOrderNum,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetRelatedTableEntity">
        insert into TB4D_DATASET_RELATED_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rtId != null">
                RT_ID,
            </if>
            <if test="rtDsId != null">
                RT_DS_ID,
            </if>
            <if test="rtTableName != null">
                RT_TABLE_NAME,
            </if>
            <if test="rtTableCaption != null">
                RT_TABLE_CAPTION,
            </if>
            <if test="rtTableId != null">
                RT_TABLE_ID,
            </if>
            <if test="rtTableType != null">
                RT_TABLE_TYPE,
            </if>
            <if test="rtDesc != null">
                RT_DESC,
            </if>
            <if test="rtOrderNum != null">
                RT_ORDER_NUM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rtId != null">
                #{rtId,jdbcType=NVARCHAR},
            </if>
            <if test="rtDsId != null">
                #{rtDsId,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableName != null">
                #{rtTableName,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableCaption != null">
                #{rtTableCaption,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableId != null">
                #{rtTableId,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableType != null">
                #{rtTableType,jdbcType=NVARCHAR},
            </if>
            <if test="rtDesc != null">
                #{rtDesc,jdbcType=NVARCHAR},
            </if>
            <if test="rtOrderNum != null">
                #{rtOrderNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetRelatedTableEntity">
        update TB4D_DATASET_RELATED_TABLE
        <set>
            <if test="rtDsId != null">
                RT_DS_ID = #{rtDsId,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableName != null">
                RT_TABLE_NAME = #{rtTableName,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableCaption != null">
                RT_TABLE_CAPTION = #{rtTableCaption,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableId != null">
                RT_TABLE_ID = #{rtTableId,jdbcType=NVARCHAR},
            </if>
            <if test="rtTableType != null">
                RT_TABLE_TYPE = #{rtTableType,jdbcType=NVARCHAR},
            </if>
            <if test="rtDesc != null">
                RT_DESC = #{rtDesc,jdbcType=NVARCHAR},
            </if>
            <if test="rtOrderNum != null">
                RT_ORDER_NUM = #{rtOrderNum,jdbcType=INTEGER},
            </if>
        </set>
        where RT_ID = #{rtId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetRelatedTableEntity">
        update TB4D_DATASET_RELATED_TABLE
        set RT_DS_ID = #{rtDsId,jdbcType=NVARCHAR},
            RT_TABLE_NAME = #{rtTableName,jdbcType=NVARCHAR},
            RT_TABLE_CAPTION = #{rtTableCaption,jdbcType=NVARCHAR},
            RT_TABLE_ID = #{rtTableId,jdbcType=NVARCHAR},
            RT_TABLE_TYPE = #{rtTableType,jdbcType=NVARCHAR},
            RT_DESC = #{rtDesc,jdbcType=NVARCHAR},
            RT_ORDER_NUM = #{rtOrderNum,jdbcType=INTEGER}
        where RT_ID = #{rtId,jdbcType=NVARCHAR}
    </update>
</mapper>
