<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.DatasetMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        <constructor>
            <idArg column="DS_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_CODE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_CAPTION" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DS_CREATER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DS_UPDATER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_ISSYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="DS_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_GROUP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_SQL_SELECT_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_SQL_SELECT_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_CLASS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_REST_STRUCTURE_URL" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_REST_DATA_URL" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DS_ORGAN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        DS_ID, DS_CODE, DS_CAPTION, DS_NAME, DS_CREATE_TIME, DS_CREATER, DS_UPDATE_TIME,
        DS_UPDATER, DS_TYPE, DS_ISSYSTEM, DS_ORDER_NUM, DS_DESC, DS_GROUP_ID, DS_STATUS,
        DS_SQL_SELECT_TEXT, DS_SQL_SELECT_VALUE, DS_CLASS_NAME, DS_REST_STRUCTURE_URL, DS_REST_DATA_URL,
        DS_ORGAN_ID, DS_ORGAN_NAME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TBUILD_DATASET
        where DS_ID = #{dsId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TBUILD_DATASET
        where DS_ID = #{dsId,jdbcType=NVARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        insert into TBUILD_DATASET (DS_ID, DS_CODE, DS_CAPTION,
                                    DS_NAME, DS_CREATE_TIME, DS_CREATER,
                                    DS_UPDATE_TIME, DS_UPDATER, DS_TYPE,
                                    DS_ISSYSTEM, DS_ORDER_NUM, DS_DESC,
                                    DS_GROUP_ID, DS_STATUS, DS_SQL_SELECT_TEXT,
                                    DS_SQL_SELECT_VALUE, DS_CLASS_NAME, DS_REST_STRUCTURE_URL,
                                    DS_REST_DATA_URL, DS_ORGAN_ID, DS_ORGAN_NAME
                )
        values (#{dsId,jdbcType=NVARCHAR}, #{dsCode,jdbcType=NVARCHAR}, #{dsCaption,jdbcType=NVARCHAR},
                #{dsName,jdbcType=NVARCHAR}, #{dsCreateTime,jdbcType=TIMESTAMP}, #{dsCreater,jdbcType=NVARCHAR},
                #{dsUpdateTime,jdbcType=TIMESTAMP}, #{dsUpdater,jdbcType=NVARCHAR}, #{dsType,jdbcType=NVARCHAR},
                #{dsIssystem,jdbcType=NVARCHAR}, #{dsOrderNum,jdbcType=INTEGER}, #{dsDesc,jdbcType=NVARCHAR},
                #{dsGroupId,jdbcType=NVARCHAR}, #{dsStatus,jdbcType=NVARCHAR}, #{dsSqlSelectText,jdbcType=NVARCHAR},
                #{dsSqlSelectValue,jdbcType=NVARCHAR}, #{dsClassName,jdbcType=NVARCHAR}, #{dsRestStructureUrl,jdbcType=NVARCHAR},
                #{dsRestDataUrl,jdbcType=NVARCHAR}, #{dsOrganId,jdbcType=NVARCHAR}, #{dsOrganName,jdbcType=NVARCHAR}
                       )
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        insert into TBUILD_DATASET
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dsId != null">
                DS_ID,
            </if>
            <if test="dsCode != null">
                DS_CODE,
            </if>
            <if test="dsCaption != null">
                DS_CAPTION,
            </if>
            <if test="dsName != null">
                DS_NAME,
            </if>
            <if test="dsCreateTime != null">
                DS_CREATE_TIME,
            </if>
            <if test="dsCreater != null">
                DS_CREATER,
            </if>
            <if test="dsUpdateTime != null">
                DS_UPDATE_TIME,
            </if>
            <if test="dsUpdater != null">
                DS_UPDATER,
            </if>
            <if test="dsType != null">
                DS_TYPE,
            </if>
            <if test="dsIssystem != null">
                DS_ISSYSTEM,
            </if>
            <if test="dsOrderNum != null">
                DS_ORDER_NUM,
            </if>
            <if test="dsDesc != null">
                DS_DESC,
            </if>
            <if test="dsGroupId != null">
                DS_GROUP_ID,
            </if>
            <if test="dsStatus != null">
                DS_STATUS,
            </if>
            <if test="dsSqlSelectText != null">
                DS_SQL_SELECT_TEXT,
            </if>
            <if test="dsSqlSelectValue != null">
                DS_SQL_SELECT_VALUE,
            </if>
            <if test="dsClassName != null">
                DS_CLASS_NAME,
            </if>
            <if test="dsRestStructureUrl != null">
                DS_REST_STRUCTURE_URL,
            </if>
            <if test="dsRestDataUrl != null">
                DS_REST_DATA_URL,
            </if>
            <if test="dsOrganId != null">
                DS_ORGAN_ID,
            </if>
            <if test="dsOrganName != null">
                DS_ORGAN_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dsId != null">
                #{dsId,jdbcType=NVARCHAR},
            </if>
            <if test="dsCode != null">
                #{dsCode,jdbcType=NVARCHAR},
            </if>
            <if test="dsCaption != null">
                #{dsCaption,jdbcType=NVARCHAR},
            </if>
            <if test="dsName != null">
                #{dsName,jdbcType=NVARCHAR},
            </if>
            <if test="dsCreateTime != null">
                #{dsCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsCreater != null">
                #{dsCreater,jdbcType=NVARCHAR},
            </if>
            <if test="dsUpdateTime != null">
                #{dsUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsUpdater != null">
                #{dsUpdater,jdbcType=NVARCHAR},
            </if>
            <if test="dsType != null">
                #{dsType,jdbcType=NVARCHAR},
            </if>
            <if test="dsIssystem != null">
                #{dsIssystem,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrderNum != null">
                #{dsOrderNum,jdbcType=INTEGER},
            </if>
            <if test="dsDesc != null">
                #{dsDesc,jdbcType=NVARCHAR},
            </if>
            <if test="dsGroupId != null">
                #{dsGroupId,jdbcType=NVARCHAR},
            </if>
            <if test="dsStatus != null">
                #{dsStatus,jdbcType=NVARCHAR},
            </if>
            <if test="dsSqlSelectText != null">
                #{dsSqlSelectText,jdbcType=NVARCHAR},
            </if>
            <if test="dsSqlSelectValue != null">
                #{dsSqlSelectValue,jdbcType=NVARCHAR},
            </if>
            <if test="dsClassName != null">
                #{dsClassName,jdbcType=NVARCHAR},
            </if>
            <if test="dsRestStructureUrl != null">
                #{dsRestStructureUrl,jdbcType=NVARCHAR},
            </if>
            <if test="dsRestDataUrl != null">
                #{dsRestDataUrl,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrganId != null">
                #{dsOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrganName != null">
                #{dsOrganName,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        update TBUILD_DATASET
        <set>
            <if test="dsCode != null">
                DS_CODE = #{dsCode,jdbcType=NVARCHAR},
            </if>
            <if test="dsCaption != null">
                DS_CAPTION = #{dsCaption,jdbcType=NVARCHAR},
            </if>
            <if test="dsName != null">
                DS_NAME = #{dsName,jdbcType=NVARCHAR},
            </if>
            <if test="dsCreateTime != null">
                DS_CREATE_TIME = #{dsCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsCreater != null">
                DS_CREATER = #{dsCreater,jdbcType=NVARCHAR},
            </if>
            <if test="dsUpdateTime != null">
                DS_UPDATE_TIME = #{dsUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dsUpdater != null">
                DS_UPDATER = #{dsUpdater,jdbcType=NVARCHAR},
            </if>
            <if test="dsType != null">
                DS_TYPE = #{dsType,jdbcType=NVARCHAR},
            </if>
            <if test="dsIssystem != null">
                DS_ISSYSTEM = #{dsIssystem,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrderNum != null">
                DS_ORDER_NUM = #{dsOrderNum,jdbcType=INTEGER},
            </if>
            <if test="dsDesc != null">
                DS_DESC = #{dsDesc,jdbcType=NVARCHAR},
            </if>
            <if test="dsGroupId != null">
                DS_GROUP_ID = #{dsGroupId,jdbcType=NVARCHAR},
            </if>
            <if test="dsStatus != null">
                DS_STATUS = #{dsStatus,jdbcType=NVARCHAR},
            </if>
            <if test="dsSqlSelectText != null">
                DS_SQL_SELECT_TEXT = #{dsSqlSelectText,jdbcType=NVARCHAR},
            </if>
            <if test="dsSqlSelectValue != null">
                DS_SQL_SELECT_VALUE = #{dsSqlSelectValue,jdbcType=NVARCHAR},
            </if>
            <if test="dsClassName != null">
                DS_CLASS_NAME = #{dsClassName,jdbcType=NVARCHAR},
            </if>
            <if test="dsRestStructureUrl != null">
                DS_REST_STRUCTURE_URL = #{dsRestStructureUrl,jdbcType=NVARCHAR},
            </if>
            <if test="dsRestDataUrl != null">
                DS_REST_DATA_URL = #{dsRestDataUrl,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrganId != null">
                DS_ORGAN_ID = #{dsOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="dsOrganName != null">
                DS_ORGAN_NAME = #{dsOrganName,jdbcType=NVARCHAR},
            </if>
        </set>
        where DS_ID = #{dsId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.DatasetEntity">
        update TBUILD_DATASET
        set DS_CODE = #{dsCode,jdbcType=NVARCHAR},
            DS_CAPTION = #{dsCaption,jdbcType=NVARCHAR},
            DS_NAME = #{dsName,jdbcType=NVARCHAR},
            DS_CREATE_TIME = #{dsCreateTime,jdbcType=TIMESTAMP},
            DS_CREATER = #{dsCreater,jdbcType=NVARCHAR},
            DS_UPDATE_TIME = #{dsUpdateTime,jdbcType=TIMESTAMP},
            DS_UPDATER = #{dsUpdater,jdbcType=NVARCHAR},
            DS_TYPE = #{dsType,jdbcType=NVARCHAR},
            DS_ISSYSTEM = #{dsIssystem,jdbcType=NVARCHAR},
            DS_ORDER_NUM = #{dsOrderNum,jdbcType=INTEGER},
            DS_DESC = #{dsDesc,jdbcType=NVARCHAR},
            DS_GROUP_ID = #{dsGroupId,jdbcType=NVARCHAR},
            DS_STATUS = #{dsStatus,jdbcType=NVARCHAR},
            DS_SQL_SELECT_TEXT = #{dsSqlSelectText,jdbcType=NVARCHAR},
            DS_SQL_SELECT_VALUE = #{dsSqlSelectValue,jdbcType=NVARCHAR},
            DS_CLASS_NAME = #{dsClassName,jdbcType=NVARCHAR},
            DS_REST_STRUCTURE_URL = #{dsRestStructureUrl,jdbcType=NVARCHAR},
            DS_REST_DATA_URL = #{dsRestDataUrl,jdbcType=NVARCHAR},
            DS_ORGAN_ID = #{dsOrganId,jdbcType=NVARCHAR},
            DS_ORGAN_NAME = #{dsOrganName,jdbcType=NVARCHAR}
        where DS_ID = #{dsId,jdbcType=NVARCHAR}
    </update>
</mapper>