<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.FlowModelMapper">
    <select id="selectAll" resultMap="BaseResultMap">select
        <include refid="Base_Column_List"/>
        from TBUILD_FLOW_MODEL ORDER by MODEL_ORDER_NUM DESC
    </select>
    <delete id="deleteAll">delete
                           from TBUILD_FLOW_MODEL</delete>
    <select id="nextOrderNum" resultType="integer">select case
                                                              when max(MODEL_ORDER_NUM) is null then 1
                                                              else max(MODEL_ORDER_NUM) + 1 end ORDERNUM
                                                   from TBUILD_FLOW_MODEL</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_FLOW_MODEL
        <where>
            <if test="modelDeId !=null and modelDeId !=''"> and MODEL_DE_ID like #{modelDeId} </if>
            <if test="modelModuleId !=null and modelModuleId !=''"> and MODEL_MODULE_ID like #{modelModuleId} </if>
            <if test="modelCode !=null and modelCode !=''"> and MODEL_CODE like #{modelCode} </if>
            <if test="modelName !=null and modelName !=''"> and MODEL_NAME like #{modelName} </if>
            <if test="modelCreater !=null and modelCreater !=''"> and MODEL_CREATER like #{modelCreater} </if>
            <if test="modelUpdater !=null and modelUpdater !=''"> and MODEL_UPDATER like #{modelUpdater} </if>
            <if test="modelDesc !=null and modelDesc !=''"> and MODEL_DESC like #{modelDesc} </if>
            <if test="modelStatus !=null and modelStatus !=''"> and MODEL_STATUS like #{modelStatus} </if>
            <if test="modelDeploymentId !=null and modelDeploymentId !=''"> and MODEL_DEPLOYMENT_ID like #{modelDeploymentId} </if>
            <if test="modelStartKey !=null and modelStartKey !=''"> and MODEL_START_KEY like #{modelStartKey} </if>
            <if test="modelResourceName !=null and modelResourceName !=''"> and MODEL_RESOURCE_NAME like #{modelResourceName} </if>
            <if test="modelFromType !=null and modelFromType !=''"> and MODEL_FROM_TYPE like #{modelFromType} </if>
            <if test="modelMainImageId !=null and modelMainImageId !=''"> and MODEL_MAIN_IMAGE_ID like #{modelMainImageId} </if>
        </where>
        ORDER by MODEL_ORDER_NUM DESC
    </select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
        <![CDATA[
        select *
        from TBUILD_FLOW_MODEL
        where MODEL_ORDER_NUM = (select max(MODEL_ORDER_NUM)
                                 from TBUILD_FLOW_MODEL
                                 where MODEL_ORDER_NUM < (select MODEL_ORDER_NUM from TBUILD_FLOW_MODEL where MODEL_ID = #{Id,jdbcType=NVARCHAR})
                                   and
                                       MODEL_MODULE_ID=#{modelModuleId,jdbcType=NVARCHAR})
          and
              MODEL_MODULE_ID=#{modelModuleId,jdbcType=NVARCHAR}
        ]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[
        select *
        from TBUILD_FLOW_MODEL
        where MODEL_ORDER_NUM = (select min(MODEL_ORDER_NUM)
                                 from TBUILD_FLOW_MODEL
                                 where MODEL_ORDER_NUM > (select MODEL_ORDER_NUM from TBUILD_FLOW_MODEL where MODEL_ID = #{Id,jdbcType=NVARCHAR})
                                   and
                                       MODEL_MODULE_ID=#{modelModuleId,jdbcType=NVARCHAR})
          and
              MODEL_MODULE_ID=#{modelModuleId,jdbcType=NVARCHAR}
        ]]></select>
</mapper>
