<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.FlowModelMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.builder.FlowModelEntity">
        <constructor>
            <idArg column="MODEL_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_DE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_MODULE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_GROUP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_CREATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MODEL_DEPLOYMENT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_START_KEY" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RESOURCE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_FROM_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        MODEL_ID, MODEL_DE_ID, MODEL_MODULE_ID, MODEL_GROUP_ID, MODEL_NAME, MODEL_CREATE_TIME,
        MODEL_CREATER, MODEL_UPDATE_TIME, MODEL_UPDATER, MODEL_DESC, MODEL_STATUS, MODEL_ORDER_NUM,
        MODEL_DEPLOYMENT_ID, MODEL_START_KEY, MODEL_RESOURCE_NAME, MODEL_FROM_TYPE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_FLOW_MODEL
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_FLOW_MODEL
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.FlowModelEntity">
        insert into TB4D_FLOW_MODEL (MODEL_ID, MODEL_DE_ID, MODEL_MODULE_ID,
                                     MODEL_GROUP_ID, MODEL_NAME, MODEL_CREATE_TIME,
                                     MODEL_CREATER, MODEL_UPDATE_TIME, MODEL_UPDATER,
                                     MODEL_DESC, MODEL_STATUS, MODEL_ORDER_NUM,
                                     MODEL_DEPLOYMENT_ID, MODEL_START_KEY, MODEL_RESOURCE_NAME,
                                     MODEL_FROM_TYPE)
        values (#{modelId,jdbcType=VARCHAR}, #{modelDeId,jdbcType=VARCHAR}, #{modelModuleId,jdbcType=VARCHAR},
                #{modelGroupId,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{modelCreateTime,jdbcType=TIMESTAMP},
                #{modelCreater,jdbcType=VARCHAR}, #{modelUpdateTime,jdbcType=TIMESTAMP}, #{modelUpdater,jdbcType=VARCHAR},
                #{modelDesc,jdbcType=VARCHAR}, #{modelStatus,jdbcType=VARCHAR}, #{modelOrderNum,jdbcType=INTEGER},
                #{modelDeploymentId,jdbcType=VARCHAR}, #{modelStartKey,jdbcType=VARCHAR}, #{modelResourceName,jdbcType=VARCHAR},
                #{modelFromType,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.FlowModelEntity">
        insert into TB4D_FLOW_MODEL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelId != null">
                MODEL_ID,
            </if>
            <if test="modelDeId != null">
                MODEL_DE_ID,
            </if>
            <if test="modelModuleId != null">
                MODEL_MODULE_ID,
            </if>
            <if test="modelGroupId != null">
                MODEL_GROUP_ID,
            </if>
            <if test="modelName != null">
                MODEL_NAME,
            </if>
            <if test="modelCreateTime != null">
                MODEL_CREATE_TIME,
            </if>
            <if test="modelCreater != null">
                MODEL_CREATER,
            </if>
            <if test="modelUpdateTime != null">
                MODEL_UPDATE_TIME,
            </if>
            <if test="modelUpdater != null">
                MODEL_UPDATER,
            </if>
            <if test="modelDesc != null">
                MODEL_DESC,
            </if>
            <if test="modelStatus != null">
                MODEL_STATUS,
            </if>
            <if test="modelOrderNum != null">
                MODEL_ORDER_NUM,
            </if>
            <if test="modelDeploymentId != null">
                MODEL_DEPLOYMENT_ID,
            </if>
            <if test="modelStartKey != null">
                MODEL_START_KEY,
            </if>
            <if test="modelResourceName != null">
                MODEL_RESOURCE_NAME,
            </if>
            <if test="modelFromType != null">
                MODEL_FROM_TYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelId != null">
                #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="modelDeId != null">
                #{modelDeId,jdbcType=VARCHAR},
            </if>
            <if test="modelModuleId != null">
                #{modelModuleId,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupId != null">
                #{modelGroupId,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelCreateTime != null">
                #{modelCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelCreater != null">
                #{modelCreater,jdbcType=VARCHAR},
            </if>
            <if test="modelUpdateTime != null">
                #{modelUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelUpdater != null">
                #{modelUpdater,jdbcType=VARCHAR},
            </if>
            <if test="modelDesc != null">
                #{modelDesc,jdbcType=VARCHAR},
            </if>
            <if test="modelStatus != null">
                #{modelStatus,jdbcType=VARCHAR},
            </if>
            <if test="modelOrderNum != null">
                #{modelOrderNum,jdbcType=INTEGER},
            </if>
            <if test="modelDeploymentId != null">
                #{modelDeploymentId,jdbcType=VARCHAR},
            </if>
            <if test="modelStartKey != null">
                #{modelStartKey,jdbcType=VARCHAR},
            </if>
            <if test="modelResourceName != null">
                #{modelResourceName,jdbcType=VARCHAR},
            </if>
            <if test="modelFromType != null">
                #{modelFromType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.FlowModelEntity">
        update TB4D_FLOW_MODEL
        <set>
            <if test="modelDeId != null">
                MODEL_DE_ID = #{modelDeId,jdbcType=VARCHAR},
            </if>
            <if test="modelModuleId != null">
                MODEL_MODULE_ID = #{modelModuleId,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupId != null">
                MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                MODEL_NAME = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelCreateTime != null">
                MODEL_CREATE_TIME = #{modelCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelCreater != null">
                MODEL_CREATER = #{modelCreater,jdbcType=VARCHAR},
            </if>
            <if test="modelUpdateTime != null">
                MODEL_UPDATE_TIME = #{modelUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelUpdater != null">
                MODEL_UPDATER = #{modelUpdater,jdbcType=VARCHAR},
            </if>
            <if test="modelDesc != null">
                MODEL_DESC = #{modelDesc,jdbcType=VARCHAR},
            </if>
            <if test="modelStatus != null">
                MODEL_STATUS = #{modelStatus,jdbcType=VARCHAR},
            </if>
            <if test="modelOrderNum != null">
                MODEL_ORDER_NUM = #{modelOrderNum,jdbcType=INTEGER},
            </if>
            <if test="modelDeploymentId != null">
                MODEL_DEPLOYMENT_ID = #{modelDeploymentId,jdbcType=VARCHAR},
            </if>
            <if test="modelStartKey != null">
                MODEL_START_KEY = #{modelStartKey,jdbcType=VARCHAR},
            </if>
            <if test="modelResourceName != null">
                MODEL_RESOURCE_NAME = #{modelResourceName,jdbcType=VARCHAR},
            </if>
            <if test="modelFromType != null">
                MODEL_FROM_TYPE = #{modelFromType,jdbcType=VARCHAR},
            </if>
        </set>
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.FlowModelEntity">
        update TB4D_FLOW_MODEL
        set MODEL_DE_ID = #{modelDeId,jdbcType=VARCHAR},
            MODEL_MODULE_ID = #{modelModuleId,jdbcType=VARCHAR},
            MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR},
            MODEL_NAME = #{modelName,jdbcType=VARCHAR},
            MODEL_CREATE_TIME = #{modelCreateTime,jdbcType=TIMESTAMP},
            MODEL_CREATER = #{modelCreater,jdbcType=VARCHAR},
            MODEL_UPDATE_TIME = #{modelUpdateTime,jdbcType=TIMESTAMP},
            MODEL_UPDATER = #{modelUpdater,jdbcType=VARCHAR},
            MODEL_DESC = #{modelDesc,jdbcType=VARCHAR},
            MODEL_STATUS = #{modelStatus,jdbcType=VARCHAR},
            MODEL_ORDER_NUM = #{modelOrderNum,jdbcType=INTEGER},
            MODEL_DEPLOYMENT_ID = #{modelDeploymentId,jdbcType=VARCHAR},
            MODEL_START_KEY = #{modelStartKey,jdbcType=VARCHAR},
            MODEL_RESOURCE_NAME = #{modelResourceName,jdbcType=VARCHAR},
            MODEL_FROM_TYPE = #{modelFromType,jdbcType=VARCHAR}
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </update>
</mapper>