<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.FormConfigMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_FORM_CONFIG ORDER by FCONFIG_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TBUILD_FORM_CONFIG</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(FCONFIG_ORDER_NUM) is null then 1 else max(FCONFIG_ORDER_NUM)+1 end ORDERNUM from TBUILD_FORM_CONFIG</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_FORM_CONFIG<where>
        <if test="fconfigFormId !=null and fconfigFormId !=''"> and FCONFIG_FORM_ID like #{fconfigFormId} </if>
        <if test="fconfigType !=null and fconfigType !=''"> and FCONFIG_TYPE like #{fconfigType} </if>
        <if test="fconfigName !=null and fconfigName !=''"> and FCONFIG_NAME like #{fconfigName} </if>
        <if test="fconfigValue !=null and fconfigValue !=''"> and FCONFIG_VALUE like #{fconfigValue} </if>
        <if test="fconfigDesc !=null and fconfigDesc !=''"> and FCONFIG_DESC like #{fconfigDesc} </if>
        <if test="fconfigCreater !=null and fconfigCreater !=''"> and FCONFIG_CREATER like #{fconfigCreater} </if>
    </where>ORDER by FCONFIG_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_FORM_CONFIG
                                                                                                          where FCONFIG_ORDER_NUM = (select max(FCONFIG_ORDER_NUM) from TBUILD_FORM_CONFIG where FCONFIG_ORDER_NUM<(select FCONFIG_ORDER_NUM from TBUILD_FORM_CONFIG where FCONFIG_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_FORM_CONFIG
                                                                                                             where FCONFIG_ORDER_NUM = (select min(FCONFIG_ORDER_NUM) from TBUILD_FORM_CONFIG where FCONFIG_ORDER_NUM>(select FCONFIG_ORDER_NUM from TBUILD_FORM_CONFIG where FCONFIG_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
