<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.ListResourceMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_LIST_RESOURCE ORDER by LIST_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TBUILD_LIST_RESOURCE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(LIST_ORDER_NUM) is null then 1 else max(LIST_ORDER_NUM)+1 end ORDERNUM from TBUILD_LIST_RESOURCE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_LIST_RESOURCE<where>
        <if test="listCode !=null and listCode !=''"> and LIST_CODE like #{listCode} </if>
        <if test="listName !=null and listName !=''"> and LIST_NAME like #{listName} </if>
        <if test="listSingleName !=null and listSingleName !=''"> and LIST_SINGLE_NAME like #{listSingleName} </if>
        <if test="listCreater !=null and listCreater !=''"> and LIST_CREATER like #{listCreater} </if>
        <if test="listUpdater !=null and listUpdater !=''"> and LIST_UPDATER like #{listUpdater} </if>
        <if test="listType !=null and listType !=''"> and LIST_TYPE like #{listType} </if>
        <if test="listIssystem !=null and listIssystem !=''"> and LIST_ISSYSTEM like #{listIssystem} </if>
        <if test="listDesc !=null and listDesc !=''"> and LIST_DESC like #{listDesc} </if>
        <if test="listModuleId !=null and listModuleId !=''"> and LIST_MODULE_ID like #{listModuleId} </if>
        <if test="listStatus !=null and listStatus !=''"> and LIST_STATUS like #{listStatus} </if>
        <if test="listOrganId !=null and listOrganId !=''"> and LIST_ORGAN_ID like #{listOrganId} </if>
        <if test="listOrganName !=null and listOrganName !=''"> and LIST_ORGAN_NAME like #{listOrganName} </if>
        <if test="listDatasetId !=null and listDatasetId !=''"> and LIST_DATASET_ID like #{listDatasetId} </if>
        <if test="listEnableSSear !=null and listEnableSSear !=''"> and LIST_ENABLE_S_SEAR like #{listEnableSSear} </if>
        <if test="listEnableCSear !=null and listEnableCSear !=''"> and LIST_ENABLE_C_SEAR like #{listEnableCSear} </if>
        <if test="listHtmlSource !=null and listHtmlSource !=''"> and LIST_HTML_SOURCE like #{listHtmlSource} </if>
        <if test="listHtmlResolve !=null and listHtmlResolve !=''"> and LIST_HTML_RESOLVE like #{listHtmlResolve} </if>
        <if test="listJsContent !=null and listJsContent !=''"> and LIST_JS_CONTENT like #{listJsContent} </if>
        <if test="listConfigContent !=null and listConfigContent !=''"> and LIST_CONFIG_CONTENT like #{listConfigContent} </if>
    </where>ORDER by LIST_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_LIST_RESOURCE
                                                                                                          where LIST_ORDER_NUM = (select max(LIST_ORDER_NUM) from TBUILD_LIST_RESOURCE where LIST_ORDER_NUM<(select LIST_ORDER_NUM from TBUILD_LIST_RESOURCE where LIST_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_LIST_RESOURCE
                                                                                                             where LIST_ORDER_NUM = (select min(LIST_ORDER_NUM) from TBUILD_LIST_RESOURCE where LIST_ORDER_NUM>(select LIST_ORDER_NUM from TBUILD_LIST_RESOURCE where LIST_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
