<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.builder.ListResourceMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntity">
        <constructor>
            <idArg column="LIST_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_SINGLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="LIST_CREATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="LIST_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ISSYSTEM" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="LIST_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_MODULE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_DATASET_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_IS_RESOLVE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_EVERY_TIME_RESOLVE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ENABLE_S_SEAR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ENABLE_C_SEAR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_THEME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_SERVER_RENDERER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_REF_JS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_CLIENT_RENDERER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntityWithBLOBs">
        <constructor>
            <idArg column="LIST_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_SINGLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="LIST_CREATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="LIST_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ISSYSTEM" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="LIST_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_MODULE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_DATASET_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_IS_RESOLVE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_EVERY_TIME_RESOLVE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ENABLE_S_SEAR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_ENABLE_C_SEAR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_THEME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_SERVER_RENDERER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_REF_JS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_CLIENT_RENDERER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_CUST_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="LIST_HTML_SOURCE" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="LIST_HTML_RESOLVE" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="LIST_JS_CONTENT" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="LIST_CSS_CONTENT" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="LIST_CONFIG_CONTENT" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        LIST_ID, LIST_CODE, LIST_NAME, LIST_SINGLE_NAME, LIST_CREATE_TIME, LIST_CREATER,
        LIST_UPDATE_TIME, LIST_UPDATER, LIST_TYPE, LIST_ISSYSTEM, LIST_ORDER_NUM, LIST_DESC,
        LIST_MODULE_ID, LIST_STATUS, LIST_ORGAN_ID, LIST_ORGAN_NAME, LIST_DATASET_ID, LIST_IS_RESOLVE,
        LIST_EVERY_TIME_RESOLVE, LIST_ENABLE_S_SEAR, LIST_ENABLE_C_SEAR, LIST_THEME, LIST_CUST_SERVER_RENDERER,
        LIST_CUST_REF_JS, LIST_CUST_CLIENT_RENDERER, LIST_CUST_DESC
    </sql>
    <sql id="Blob_Column_List">
        LIST_HTML_SOURCE, LIST_HTML_RESOLVE, LIST_JS_CONTENT, LIST_CSS_CONTENT, LIST_CONFIG_CONTENT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from TBUILD_LIST_RESOURCE
        where LIST_ID = #{listId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TBUILD_LIST_RESOURCE
        where LIST_ID = #{listId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntityWithBLOBs">
        insert into TBUILD_LIST_RESOURCE (LIST_ID, LIST_CODE, LIST_NAME,
                                          LIST_SINGLE_NAME, LIST_CREATE_TIME, LIST_CREATER,
                                          LIST_UPDATE_TIME, LIST_UPDATER, LIST_TYPE,
                                          LIST_ISSYSTEM, LIST_ORDER_NUM, LIST_DESC,
                                          LIST_MODULE_ID, LIST_STATUS, LIST_ORGAN_ID,
                                          LIST_ORGAN_NAME, LIST_DATASET_ID, LIST_IS_RESOLVE,
                                          LIST_EVERY_TIME_RESOLVE, LIST_ENABLE_S_SEAR,
                                          LIST_ENABLE_C_SEAR, LIST_THEME, LIST_CUST_SERVER_RENDERER,
                                          LIST_CUST_REF_JS, LIST_CUST_CLIENT_RENDERER,
                                          LIST_CUST_DESC, LIST_HTML_SOURCE, LIST_HTML_RESOLVE,
                                          LIST_JS_CONTENT, LIST_CSS_CONTENT,
                                          LIST_CONFIG_CONTENT)
        values (#{listId,jdbcType=VARCHAR}, #{listCode,jdbcType=VARCHAR}, #{listName,jdbcType=VARCHAR},
                #{listSingleName,jdbcType=VARCHAR}, #{listCreateTime,jdbcType=TIMESTAMP}, #{listCreater,jdbcType=VARCHAR},
                #{listUpdateTime,jdbcType=TIMESTAMP}, #{listUpdater,jdbcType=VARCHAR}, #{listType,jdbcType=VARCHAR},
                #{listIssystem,jdbcType=VARCHAR}, #{listOrderNum,jdbcType=INTEGER}, #{listDesc,jdbcType=VARCHAR},
                #{listModuleId,jdbcType=VARCHAR}, #{listStatus,jdbcType=VARCHAR}, #{listOrganId,jdbcType=VARCHAR},
                #{listOrganName,jdbcType=VARCHAR}, #{listDatasetId,jdbcType=VARCHAR}, #{listIsResolve,jdbcType=VARCHAR},
                #{listEveryTimeResolve,jdbcType=VARCHAR}, #{listEnableSSear,jdbcType=VARCHAR},
                #{listEnableCSear,jdbcType=VARCHAR}, #{listTheme,jdbcType=VARCHAR}, #{listCustServerRenderer,jdbcType=VARCHAR},
                #{listCustRefJs,jdbcType=VARCHAR}, #{listCustClientRenderer,jdbcType=VARCHAR},
                #{listCustDesc,jdbcType=VARCHAR}, #{listHtmlSource,jdbcType=LONGVARCHAR}, #{listHtmlResolve,jdbcType=LONGVARCHAR},
                #{listJsContent,jdbcType=LONGVARCHAR}, #{listCssContent,jdbcType=LONGVARCHAR},
                #{listConfigContent,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntityWithBLOBs">
        insert into TBUILD_LIST_RESOURCE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="listId != null">
                LIST_ID,
            </if>
            <if test="listCode != null">
                LIST_CODE,
            </if>
            <if test="listName != null">
                LIST_NAME,
            </if>
            <if test="listSingleName != null">
                LIST_SINGLE_NAME,
            </if>
            <if test="listCreateTime != null">
                LIST_CREATE_TIME,
            </if>
            <if test="listCreater != null">
                LIST_CREATER,
            </if>
            <if test="listUpdateTime != null">
                LIST_UPDATE_TIME,
            </if>
            <if test="listUpdater != null">
                LIST_UPDATER,
            </if>
            <if test="listType != null">
                LIST_TYPE,
            </if>
            <if test="listIssystem != null">
                LIST_ISSYSTEM,
            </if>
            <if test="listOrderNum != null">
                LIST_ORDER_NUM,
            </if>
            <if test="listDesc != null">
                LIST_DESC,
            </if>
            <if test="listModuleId != null">
                LIST_MODULE_ID,
            </if>
            <if test="listStatus != null">
                LIST_STATUS,
            </if>
            <if test="listOrganId != null">
                LIST_ORGAN_ID,
            </if>
            <if test="listOrganName != null">
                LIST_ORGAN_NAME,
            </if>
            <if test="listDatasetId != null">
                LIST_DATASET_ID,
            </if>
            <if test="listIsResolve != null">
                LIST_IS_RESOLVE,
            </if>
            <if test="listEveryTimeResolve != null">
                LIST_EVERY_TIME_RESOLVE,
            </if>
            <if test="listEnableSSear != null">
                LIST_ENABLE_S_SEAR,
            </if>
            <if test="listEnableCSear != null">
                LIST_ENABLE_C_SEAR,
            </if>
            <if test="listTheme != null">
                LIST_THEME,
            </if>
            <if test="listCustServerRenderer != null">
                LIST_CUST_SERVER_RENDERER,
            </if>
            <if test="listCustRefJs != null">
                LIST_CUST_REF_JS,
            </if>
            <if test="listCustClientRenderer != null">
                LIST_CUST_CLIENT_RENDERER,
            </if>
            <if test="listCustDesc != null">
                LIST_CUST_DESC,
            </if>
            <if test="listHtmlSource != null">
                LIST_HTML_SOURCE,
            </if>
            <if test="listHtmlResolve != null">
                LIST_HTML_RESOLVE,
            </if>
            <if test="listJsContent != null">
                LIST_JS_CONTENT,
            </if>
            <if test="listCssContent != null">
                LIST_CSS_CONTENT,
            </if>
            <if test="listConfigContent != null">
                LIST_CONFIG_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="listId != null">
                #{listId,jdbcType=VARCHAR},
            </if>
            <if test="listCode != null">
                #{listCode,jdbcType=VARCHAR},
            </if>
            <if test="listName != null">
                #{listName,jdbcType=VARCHAR},
            </if>
            <if test="listSingleName != null">
                #{listSingleName,jdbcType=VARCHAR},
            </if>
            <if test="listCreateTime != null">
                #{listCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="listCreater != null">
                #{listCreater,jdbcType=VARCHAR},
            </if>
            <if test="listUpdateTime != null">
                #{listUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="listUpdater != null">
                #{listUpdater,jdbcType=VARCHAR},
            </if>
            <if test="listType != null">
                #{listType,jdbcType=VARCHAR},
            </if>
            <if test="listIssystem != null">
                #{listIssystem,jdbcType=VARCHAR},
            </if>
            <if test="listOrderNum != null">
                #{listOrderNum,jdbcType=INTEGER},
            </if>
            <if test="listDesc != null">
                #{listDesc,jdbcType=VARCHAR},
            </if>
            <if test="listModuleId != null">
                #{listModuleId,jdbcType=VARCHAR},
            </if>
            <if test="listStatus != null">
                #{listStatus,jdbcType=VARCHAR},
            </if>
            <if test="listOrganId != null">
                #{listOrganId,jdbcType=VARCHAR},
            </if>
            <if test="listOrganName != null">
                #{listOrganName,jdbcType=VARCHAR},
            </if>
            <if test="listDatasetId != null">
                #{listDatasetId,jdbcType=VARCHAR},
            </if>
            <if test="listIsResolve != null">
                #{listIsResolve,jdbcType=VARCHAR},
            </if>
            <if test="listEveryTimeResolve != null">
                #{listEveryTimeResolve,jdbcType=VARCHAR},
            </if>
            <if test="listEnableSSear != null">
                #{listEnableSSear,jdbcType=VARCHAR},
            </if>
            <if test="listEnableCSear != null">
                #{listEnableCSear,jdbcType=VARCHAR},
            </if>
            <if test="listTheme != null">
                #{listTheme,jdbcType=VARCHAR},
            </if>
            <if test="listCustServerRenderer != null">
                #{listCustServerRenderer,jdbcType=VARCHAR},
            </if>
            <if test="listCustRefJs != null">
                #{listCustRefJs,jdbcType=VARCHAR},
            </if>
            <if test="listCustClientRenderer != null">
                #{listCustClientRenderer,jdbcType=VARCHAR},
            </if>
            <if test="listCustDesc != null">
                #{listCustDesc,jdbcType=VARCHAR},
            </if>
            <if test="listHtmlSource != null">
                #{listHtmlSource,jdbcType=LONGVARCHAR},
            </if>
            <if test="listHtmlResolve != null">
                #{listHtmlResolve,jdbcType=LONGVARCHAR},
            </if>
            <if test="listJsContent != null">
                #{listJsContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="listCssContent != null">
                #{listCssContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="listConfigContent != null">
                #{listConfigContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntityWithBLOBs">
        update TBUILD_LIST_RESOURCE
        <set>
            <if test="listCode != null">
                LIST_CODE = #{listCode,jdbcType=VARCHAR},
            </if>
            <if test="listName != null">
                LIST_NAME = #{listName,jdbcType=VARCHAR},
            </if>
            <if test="listSingleName != null">
                LIST_SINGLE_NAME = #{listSingleName,jdbcType=VARCHAR},
            </if>
            <if test="listCreateTime != null">
                LIST_CREATE_TIME = #{listCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="listCreater != null">
                LIST_CREATER = #{listCreater,jdbcType=VARCHAR},
            </if>
            <if test="listUpdateTime != null">
                LIST_UPDATE_TIME = #{listUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="listUpdater != null">
                LIST_UPDATER = #{listUpdater,jdbcType=VARCHAR},
            </if>
            <if test="listType != null">
                LIST_TYPE = #{listType,jdbcType=VARCHAR},
            </if>
            <if test="listIssystem != null">
                LIST_ISSYSTEM = #{listIssystem,jdbcType=VARCHAR},
            </if>
            <if test="listOrderNum != null">
                LIST_ORDER_NUM = #{listOrderNum,jdbcType=INTEGER},
            </if>
            <if test="listDesc != null">
                LIST_DESC = #{listDesc,jdbcType=VARCHAR},
            </if>
            <if test="listModuleId != null">
                LIST_MODULE_ID = #{listModuleId,jdbcType=VARCHAR},
            </if>
            <if test="listStatus != null">
                LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
            </if>
            <if test="listOrganId != null">
                LIST_ORGAN_ID = #{listOrganId,jdbcType=VARCHAR},
            </if>
            <if test="listOrganName != null">
                LIST_ORGAN_NAME = #{listOrganName,jdbcType=VARCHAR},
            </if>
            <if test="listDatasetId != null">
                LIST_DATASET_ID = #{listDatasetId,jdbcType=VARCHAR},
            </if>
            <if test="listIsResolve != null">
                LIST_IS_RESOLVE = #{listIsResolve,jdbcType=VARCHAR},
            </if>
            <if test="listEveryTimeResolve != null">
                LIST_EVERY_TIME_RESOLVE = #{listEveryTimeResolve,jdbcType=VARCHAR},
            </if>
            <if test="listEnableSSear != null">
                LIST_ENABLE_S_SEAR = #{listEnableSSear,jdbcType=VARCHAR},
            </if>
            <if test="listEnableCSear != null">
                LIST_ENABLE_C_SEAR = #{listEnableCSear,jdbcType=VARCHAR},
            </if>
            <if test="listTheme != null">
                LIST_THEME = #{listTheme,jdbcType=VARCHAR},
            </if>
            <if test="listCustServerRenderer != null">
                LIST_CUST_SERVER_RENDERER = #{listCustServerRenderer,jdbcType=VARCHAR},
            </if>
            <if test="listCustRefJs != null">
                LIST_CUST_REF_JS = #{listCustRefJs,jdbcType=VARCHAR},
            </if>
            <if test="listCustClientRenderer != null">
                LIST_CUST_CLIENT_RENDERER = #{listCustClientRenderer,jdbcType=VARCHAR},
            </if>
            <if test="listCustDesc != null">
                LIST_CUST_DESC = #{listCustDesc,jdbcType=VARCHAR},
            </if>
            <if test="listHtmlSource != null">
                LIST_HTML_SOURCE = #{listHtmlSource,jdbcType=LONGVARCHAR},
            </if>
            <if test="listHtmlResolve != null">
                LIST_HTML_RESOLVE = #{listHtmlResolve,jdbcType=LONGVARCHAR},
            </if>
            <if test="listJsContent != null">
                LIST_JS_CONTENT = #{listJsContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="listCssContent != null">
                LIST_CSS_CONTENT = #{listCssContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="listConfigContent != null">
                LIST_CONFIG_CONTENT = #{listConfigContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where LIST_ID = #{listId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntityWithBLOBs">
        update TBUILD_LIST_RESOURCE
        set LIST_CODE = #{listCode,jdbcType=VARCHAR},
            LIST_NAME = #{listName,jdbcType=VARCHAR},
            LIST_SINGLE_NAME = #{listSingleName,jdbcType=VARCHAR},
            LIST_CREATE_TIME = #{listCreateTime,jdbcType=TIMESTAMP},
            LIST_CREATER = #{listCreater,jdbcType=VARCHAR},
            LIST_UPDATE_TIME = #{listUpdateTime,jdbcType=TIMESTAMP},
            LIST_UPDATER = #{listUpdater,jdbcType=VARCHAR},
            LIST_TYPE = #{listType,jdbcType=VARCHAR},
            LIST_ISSYSTEM = #{listIssystem,jdbcType=VARCHAR},
            LIST_ORDER_NUM = #{listOrderNum,jdbcType=INTEGER},
            LIST_DESC = #{listDesc,jdbcType=VARCHAR},
            LIST_MODULE_ID = #{listModuleId,jdbcType=VARCHAR},
            LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
            LIST_ORGAN_ID = #{listOrganId,jdbcType=VARCHAR},
            LIST_ORGAN_NAME = #{listOrganName,jdbcType=VARCHAR},
            LIST_DATASET_ID = #{listDatasetId,jdbcType=VARCHAR},
            LIST_IS_RESOLVE = #{listIsResolve,jdbcType=VARCHAR},
            LIST_EVERY_TIME_RESOLVE = #{listEveryTimeResolve,jdbcType=VARCHAR},
            LIST_ENABLE_S_SEAR = #{listEnableSSear,jdbcType=VARCHAR},
            LIST_ENABLE_C_SEAR = #{listEnableCSear,jdbcType=VARCHAR},
            LIST_THEME = #{listTheme,jdbcType=VARCHAR},
            LIST_CUST_SERVER_RENDERER = #{listCustServerRenderer,jdbcType=VARCHAR},
            LIST_CUST_REF_JS = #{listCustRefJs,jdbcType=VARCHAR},
            LIST_CUST_CLIENT_RENDERER = #{listCustClientRenderer,jdbcType=VARCHAR},
            LIST_CUST_DESC = #{listCustDesc,jdbcType=VARCHAR},
            LIST_HTML_SOURCE = #{listHtmlSource,jdbcType=LONGVARCHAR},
            LIST_HTML_RESOLVE = #{listHtmlResolve,jdbcType=LONGVARCHAR},
            LIST_JS_CONTENT = #{listJsContent,jdbcType=LONGVARCHAR},
            LIST_CSS_CONTENT = #{listCssContent,jdbcType=LONGVARCHAR},
            LIST_CONFIG_CONTENT = #{listConfigContent,jdbcType=LONGVARCHAR}
        where LIST_ID = #{listId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.builder.ListResourceEntity">
        update TBUILD_LIST_RESOURCE
        set LIST_CODE = #{listCode,jdbcType=VARCHAR},
            LIST_NAME = #{listName,jdbcType=VARCHAR},
            LIST_SINGLE_NAME = #{listSingleName,jdbcType=VARCHAR},
            LIST_CREATE_TIME = #{listCreateTime,jdbcType=TIMESTAMP},
            LIST_CREATER = #{listCreater,jdbcType=VARCHAR},
            LIST_UPDATE_TIME = #{listUpdateTime,jdbcType=TIMESTAMP},
            LIST_UPDATER = #{listUpdater,jdbcType=VARCHAR},
            LIST_TYPE = #{listType,jdbcType=VARCHAR},
            LIST_ISSYSTEM = #{listIssystem,jdbcType=VARCHAR},
            LIST_ORDER_NUM = #{listOrderNum,jdbcType=INTEGER},
            LIST_DESC = #{listDesc,jdbcType=VARCHAR},
            LIST_MODULE_ID = #{listModuleId,jdbcType=VARCHAR},
            LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
            LIST_ORGAN_ID = #{listOrganId,jdbcType=VARCHAR},
            LIST_ORGAN_NAME = #{listOrganName,jdbcType=VARCHAR},
            LIST_DATASET_ID = #{listDatasetId,jdbcType=VARCHAR},
            LIST_IS_RESOLVE = #{listIsResolve,jdbcType=VARCHAR},
            LIST_EVERY_TIME_RESOLVE = #{listEveryTimeResolve,jdbcType=VARCHAR},
            LIST_ENABLE_S_SEAR = #{listEnableSSear,jdbcType=VARCHAR},
            LIST_ENABLE_C_SEAR = #{listEnableCSear,jdbcType=VARCHAR},
            LIST_THEME = #{listTheme,jdbcType=VARCHAR},
            LIST_CUST_SERVER_RENDERER = #{listCustServerRenderer,jdbcType=VARCHAR},
            LIST_CUST_REF_JS = #{listCustRefJs,jdbcType=VARCHAR},
            LIST_CUST_CLIENT_RENDERER = #{listCustClientRenderer,jdbcType=VARCHAR},
            LIST_CUST_DESC = #{listCustDesc,jdbcType=VARCHAR}
        where LIST_ID = #{listId,jdbcType=VARCHAR}
    </update>
</mapper>