##############################
## Folders                  ##
##############################
target
out
libs
GenerateCodeFiles/*

##############################
## Files                    ##
##############################
DB.properties