##############################
## Folders                  ##
##############################
target
out
libs

##############################
## Files                    ##
##############################
DB.properties