##############################
## Folders                  ##
##############################
target
out
log
node_modules
GenerateCodeFiles/
!GenerateCodeFiles/GenerateCodeFiles.txt

##############################
## Files                    ##
##############################
DB.properties
~$列表数据逻辑.mmap.~$lock