<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.AuthorityMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSSO_AUTHORITY ORDER by  DESC</select>
    <delete id="deleteAll">delete from TSSO_AUTHORITY</delete>
    <select id="nextOrderNum" resultType="integer">select case when max() is null then 1 else max()+1 end ORDERNUM from TSSO_AUTHORITY</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSSO_AUTHORITY<where>
        <if test="roleId !=null and roleId !=''"> and ROLE_ID like #{roleId} </if>
    </where>ORDER by  DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_AUTHORITY
                                                                                                          where  = (select max() from TSSO_AUTHORITY where <(select  from TSSO_AUTHORITY where AUTH_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_AUTHORITY
                                                                                                             where  = (select min() from TSSO_AUTHORITY where >(select  from TSSO_AUTHORITY where AUTH_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
