<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.DepartmentUserMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.sso.DepartmentUserEntity">
        <constructor>
            <idArg column="DU_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_DEPT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_IS_MAIN" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_TITLE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DU_CREATE_USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="DU_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        DU_ID, DU_DEPT_ID, DU_USER_ID, DU_IS_MAIN, DU_TITLE, DU_DESC, DU_CREATE_TIME, DU_CREATE_USER_ID,
        DU_STATUS, DU_ORDER_NUM
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_DEPARTMENT_USER
        where DU_ID = #{duId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TSSO_DEPARTMENT_USER
        where DU_ID = #{duId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.DepartmentUserEntity">
        insert into TSSO_DEPARTMENT_USER (DU_ID, DU_DEPT_ID, DU_USER_ID,
                                          DU_IS_MAIN, DU_TITLE, DU_DESC,
                                          DU_CREATE_TIME, DU_CREATE_USER_ID, DU_STATUS,
                                          DU_ORDER_NUM)
        values (#{duId,jdbcType=VARCHAR}, #{duDeptId,jdbcType=VARCHAR}, #{duUserId,jdbcType=VARCHAR},
                #{duIsMain,jdbcType=VARCHAR}, #{duTitle,jdbcType=VARCHAR}, #{duDesc,jdbcType=VARCHAR},
                #{duCreateTime,jdbcType=TIMESTAMP}, #{duCreateUserId,jdbcType=VARCHAR}, #{duStatus,jdbcType=VARCHAR},
                #{duOrderNum,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.DepartmentUserEntity">
        insert into TSSO_DEPARTMENT_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="duId != null">
                DU_ID,
            </if>
            <if test="duDeptId != null">
                DU_DEPT_ID,
            </if>
            <if test="duUserId != null">
                DU_USER_ID,
            </if>
            <if test="duIsMain != null">
                DU_IS_MAIN,
            </if>
            <if test="duTitle != null">
                DU_TITLE,
            </if>
            <if test="duDesc != null">
                DU_DESC,
            </if>
            <if test="duCreateTime != null">
                DU_CREATE_TIME,
            </if>
            <if test="duCreateUserId != null">
                DU_CREATE_USER_ID,
            </if>
            <if test="duStatus != null">
                DU_STATUS,
            </if>
            <if test="duOrderNum != null">
                DU_ORDER_NUM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="duId != null">
                #{duId,jdbcType=VARCHAR},
            </if>
            <if test="duDeptId != null">
                #{duDeptId,jdbcType=VARCHAR},
            </if>
            <if test="duUserId != null">
                #{duUserId,jdbcType=VARCHAR},
            </if>
            <if test="duIsMain != null">
                #{duIsMain,jdbcType=VARCHAR},
            </if>
            <if test="duTitle != null">
                #{duTitle,jdbcType=VARCHAR},
            </if>
            <if test="duDesc != null">
                #{duDesc,jdbcType=VARCHAR},
            </if>
            <if test="duCreateTime != null">
                #{duCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duCreateUserId != null">
                #{duCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="duStatus != null">
                #{duStatus,jdbcType=VARCHAR},
            </if>
            <if test="duOrderNum != null">
                #{duOrderNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.DepartmentUserEntity">
        update TSSO_DEPARTMENT_USER
        <set>
            <if test="duDeptId != null">
                DU_DEPT_ID = #{duDeptId,jdbcType=VARCHAR},
            </if>
            <if test="duUserId != null">
                DU_USER_ID = #{duUserId,jdbcType=VARCHAR},
            </if>
            <if test="duIsMain != null">
                DU_IS_MAIN = #{duIsMain,jdbcType=VARCHAR},
            </if>
            <if test="duTitle != null">
                DU_TITLE = #{duTitle,jdbcType=VARCHAR},
            </if>
            <if test="duDesc != null">
                DU_DESC = #{duDesc,jdbcType=VARCHAR},
            </if>
            <if test="duCreateTime != null">
                DU_CREATE_TIME = #{duCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duCreateUserId != null">
                DU_CREATE_USER_ID = #{duCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="duStatus != null">
                DU_STATUS = #{duStatus,jdbcType=VARCHAR},
            </if>
            <if test="duOrderNum != null">
                DU_ORDER_NUM = #{duOrderNum,jdbcType=INTEGER},
            </if>
        </set>
        where DU_ID = #{duId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.DepartmentUserEntity">
        update TSSO_DEPARTMENT_USER
        set DU_DEPT_ID = #{duDeptId,jdbcType=VARCHAR},
            DU_USER_ID = #{duUserId,jdbcType=VARCHAR},
            DU_IS_MAIN = #{duIsMain,jdbcType=VARCHAR},
            DU_TITLE = #{duTitle,jdbcType=VARCHAR},
            DU_DESC = #{duDesc,jdbcType=VARCHAR},
            DU_CREATE_TIME = #{duCreateTime,jdbcType=TIMESTAMP},
            DU_CREATE_USER_ID = #{duCreateUserId,jdbcType=VARCHAR},
            DU_STATUS = #{duStatus,jdbcType=VARCHAR},
            DU_ORDER_NUM = #{duOrderNum,jdbcType=INTEGER}
        where DU_ID = #{duId,jdbcType=VARCHAR}
    </update>
</mapper>