<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.SsoAppFileMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.sso.SsoAppFileEntity">
        <constructor>
            <idArg column="APP_FILE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_BELONG_APP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_IS_MAIN" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="APP_FILE_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="APP_FILE_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_CREATER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_FILE_CNT_FILE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        APP_FILE_ID, APP_BELONG_APP_ID, APP_FILE_NAME, APP_FILE_IS_MAIN, APP_FILE_DESC, APP_FILE_ORDER_NUM,
        APP_FILE_CREATE_TIME, APP_FILE_STATUS, APP_FILE_CREATER_ID, APP_FILE_ORGAN_ID, APP_FILE_CNT_FILE_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_SSO_APP_FILE
        where APP_FILE_ID = #{appFileId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TSSO_SSO_APP_FILE
        where APP_FILE_ID = #{appFileId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoAppFileEntity">
        insert into TSSO_SSO_APP_FILE (APP_FILE_ID, APP_BELONG_APP_ID, APP_FILE_NAME,
                                       APP_FILE_IS_MAIN, APP_FILE_DESC, APP_FILE_ORDER_NUM,
                                       APP_FILE_CREATE_TIME, APP_FILE_STATUS, APP_FILE_CREATER_ID,
                                       APP_FILE_ORGAN_ID, APP_FILE_CNT_FILE_ID)
        values (#{appFileId,jdbcType=VARCHAR}, #{appBelongAppId,jdbcType=VARCHAR}, #{appFileName,jdbcType=VARCHAR},
                #{appFileIsMain,jdbcType=VARCHAR}, #{appFileDesc,jdbcType=VARCHAR}, #{appFileOrderNum,jdbcType=INTEGER},
                #{appFileCreateTime,jdbcType=TIMESTAMP}, #{appFileStatus,jdbcType=VARCHAR}, #{appFileCreaterId,jdbcType=VARCHAR},
                #{appFileOrganId,jdbcType=VARCHAR}, #{appFileCntFileId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoAppFileEntity">
        insert into TSSO_SSO_APP_FILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appFileId != null">
                APP_FILE_ID,
            </if>
            <if test="appBelongAppId != null">
                APP_BELONG_APP_ID,
            </if>
            <if test="appFileName != null">
                APP_FILE_NAME,
            </if>
            <if test="appFileIsMain != null">
                APP_FILE_IS_MAIN,
            </if>
            <if test="appFileDesc != null">
                APP_FILE_DESC,
            </if>
            <if test="appFileOrderNum != null">
                APP_FILE_ORDER_NUM,
            </if>
            <if test="appFileCreateTime != null">
                APP_FILE_CREATE_TIME,
            </if>
            <if test="appFileStatus != null">
                APP_FILE_STATUS,
            </if>
            <if test="appFileCreaterId != null">
                APP_FILE_CREATER_ID,
            </if>
            <if test="appFileOrganId != null">
                APP_FILE_ORGAN_ID,
            </if>
            <if test="appFileCntFileId != null">
                APP_FILE_CNT_FILE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appFileId != null">
                #{appFileId,jdbcType=VARCHAR},
            </if>
            <if test="appBelongAppId != null">
                #{appBelongAppId,jdbcType=VARCHAR},
            </if>
            <if test="appFileName != null">
                #{appFileName,jdbcType=VARCHAR},
            </if>
            <if test="appFileIsMain != null">
                #{appFileIsMain,jdbcType=VARCHAR},
            </if>
            <if test="appFileDesc != null">
                #{appFileDesc,jdbcType=VARCHAR},
            </if>
            <if test="appFileOrderNum != null">
                #{appFileOrderNum,jdbcType=INTEGER},
            </if>
            <if test="appFileCreateTime != null">
                #{appFileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appFileStatus != null">
                #{appFileStatus,jdbcType=VARCHAR},
            </if>
            <if test="appFileCreaterId != null">
                #{appFileCreaterId,jdbcType=VARCHAR},
            </if>
            <if test="appFileOrganId != null">
                #{appFileOrganId,jdbcType=VARCHAR},
            </if>
            <if test="appFileCntFileId != null">
                #{appFileCntFileId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoAppFileEntity">
        update TSSO_SSO_APP_FILE
        <set>
            <if test="appBelongAppId != null">
                APP_BELONG_APP_ID = #{appBelongAppId,jdbcType=VARCHAR},
            </if>
            <if test="appFileName != null">
                APP_FILE_NAME = #{appFileName,jdbcType=VARCHAR},
            </if>
            <if test="appFileIsMain != null">
                APP_FILE_IS_MAIN = #{appFileIsMain,jdbcType=VARCHAR},
            </if>
            <if test="appFileDesc != null">
                APP_FILE_DESC = #{appFileDesc,jdbcType=VARCHAR},
            </if>
            <if test="appFileOrderNum != null">
                APP_FILE_ORDER_NUM = #{appFileOrderNum,jdbcType=INTEGER},
            </if>
            <if test="appFileCreateTime != null">
                APP_FILE_CREATE_TIME = #{appFileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appFileStatus != null">
                APP_FILE_STATUS = #{appFileStatus,jdbcType=VARCHAR},
            </if>
            <if test="appFileCreaterId != null">
                APP_FILE_CREATER_ID = #{appFileCreaterId,jdbcType=VARCHAR},
            </if>
            <if test="appFileOrganId != null">
                APP_FILE_ORGAN_ID = #{appFileOrganId,jdbcType=VARCHAR},
            </if>
            <if test="appFileCntFileId != null">
                APP_FILE_CNT_FILE_ID = #{appFileCntFileId,jdbcType=VARCHAR},
            </if>
        </set>
        where APP_FILE_ID = #{appFileId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoAppFileEntity">
        update TSSO_SSO_APP_FILE
        set APP_BELONG_APP_ID = #{appBelongAppId,jdbcType=VARCHAR},
            APP_FILE_NAME = #{appFileName,jdbcType=VARCHAR},
            APP_FILE_IS_MAIN = #{appFileIsMain,jdbcType=VARCHAR},
            APP_FILE_DESC = #{appFileDesc,jdbcType=VARCHAR},
            APP_FILE_ORDER_NUM = #{appFileOrderNum,jdbcType=INTEGER},
            APP_FILE_CREATE_TIME = #{appFileCreateTime,jdbcType=TIMESTAMP},
            APP_FILE_STATUS = #{appFileStatus,jdbcType=VARCHAR},
            APP_FILE_CREATER_ID = #{appFileCreaterId,jdbcType=VARCHAR},
            APP_FILE_ORGAN_ID = #{appFileOrganId,jdbcType=VARCHAR},
            APP_FILE_CNT_FILE_ID = #{appFileCntFileId,jdbcType=VARCHAR}
        where APP_FILE_ID = #{appFileId,jdbcType=VARCHAR}
    </update>
</mapper>