<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.SsoAppInterfaceMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSSO_SSO_APP_INTERFACE ORDER by INTERFACE_ORDER_NUM DESC</select>

    <select id="selectAppInterfaces" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSSO_SSO_APP_INTERFACE where INTERFACE_BELONG_APP_ID=#{appId} ORDER by INTERFACE_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TSSO_SSO_APP_INTERFACE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(INTERFACE_ORDER_NUM) is null then 1 else max(INTERFACE_ORDER_NUM)+1 end ORDERNUM from TSSO_SSO_APP_INTERFACE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSSO_SSO_APP_INTERFACE<where>
        <if test="interfaceBelongAppId !=null and interfaceBelongAppId !=''"> and INTERFACE_BELONG_APP_ID like #{interfaceBelongAppId} </if>
        <if test="interfaceCode !=null and interfaceCode !=''"> and INTERFACE_CODE like #{interfaceCode} </if>
        <if test="interfaceName !=null and interfaceName !=''"> and INTERFACE_NAME like #{interfaceName} </if>
        <if test="interfaceUrl !=null and interfaceUrl !=''"> and INTERFACE_URL like #{interfaceUrl} </if>
        <if test="interfaceParas !=null and interfaceParas !=''"> and INTERFACE_PARAS like #{interfaceParas} </if>
        <if test="interfaceFormat !=null and interfaceFormat !=''"> and INTERFACE_FORMAT like #{interfaceFormat} </if>
        <if test="interfaceDesc !=null and interfaceDesc !=''"> and INTERFACE_DESC like #{interfaceDesc} </if>
        <if test="interfaceStatus !=null and interfaceStatus !=''"> and INTERFACE_STATUS like #{interfaceStatus} </if>
        <if test="interfaceCreaterId !=null and interfaceCreaterId !=''"> and INTERFACE_CREATER_ID like #{interfaceCreaterId} </if>
        <if test="interfaceOrganId !=null and interfaceOrganId !=''"> and INTERFACE_ORGAN_ID like #{interfaceOrganId} </if>
    </where>ORDER by INTERFACE_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_SSO_APP_INTERFACE
                                                                                                          where INTERFACE_ORDER_NUM = (select max(INTERFACE_ORDER_NUM) from TSSO_SSO_APP_INTERFACE where INTERFACE_ORDER_NUM<(select INTERFACE_ORDER_NUM from TSSO_SSO_APP_INTERFACE where INTERFACE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_SSO_APP_INTERFACE
                                                                                                             where INTERFACE_ORDER_NUM = (select min(INTERFACE_ORDER_NUM) from TSSO_SSO_APP_INTERFACE where INTERFACE_ORDER_NUM>(select INTERFACE_ORDER_NUM from TSSO_SSO_APP_INTERFACE where INTERFACE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
