<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.SsoUserMappingMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.sso.SsoUserMappingEntity">
        <constructor>
            <idArg column="MAPPING_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="APP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        MAPPING_ID, APP_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_SSO_USER_MAPPING
        where MAPPING_ID = #{mappingId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_SSO_USER_MAPPING
        where MAPPING_ID = #{mappingId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoUserMappingEntity">
        insert into TB4D_SSO_USER_MAPPING (MAPPING_ID, APP_ID)
        values (#{mappingId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoUserMappingEntity">
        insert into TB4D_SSO_USER_MAPPING
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mappingId != null">
                MAPPING_ID,
            </if>
            <if test="appId != null">
                APP_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mappingId != null">
                #{mappingId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoUserMappingEntity">
        update TB4D_SSO_USER_MAPPING
        <set>
            <if test="appId != null">
                APP_ID = #{appId,jdbcType=VARCHAR},
            </if>
        </set>
        where MAPPING_ID = #{mappingId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.sso.SsoUserMappingEntity">
        update TB4D_SSO_USER_MAPPING
        set APP_ID = #{appId,jdbcType=VARCHAR}
        where MAPPING_ID = #{mappingId,jdbcType=VARCHAR}
    </update>
</mapper>