<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.sso.UserMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSSO_USER ORDER by USER_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TSSO_USER</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(USER_ORDER_NUM) is null then 1 else max(USER_ORDER_NUM)+1 end ORDERNUM from TSSO_USER</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSSO_USER<where>
        <if test="userName !=null and userName !=''"> and USER_NAME like #{userName} </if>
        <if test="userAccount !=null and userAccount !=''"> and USER_ACCOUNT like #{userAccount} </if>
        <if test="userPassword !=null and userPassword !=''"> and USER_PASSWORD like #{userPassword} </if>
        <if test="userEmail !=null and userEmail !=''"> and USER_EMAIL like #{userEmail} </if>
        <if test="userPhoneNumber !=null and userPhoneNumber !=''"> and USER_PHONE_NUMBER like #{userPhoneNumber} </if>
        <if test="userHeadId !=null and userHeadId !=''"> and USER_HEAD_ID like #{userHeadId} </if>
        <if test="userOrganId !=null and userOrganId !=''"> and USER_ORGAN_ID like #{userOrganId} </if>
        <if test="userDesc !=null and userDesc !=''"> and USER_DESC like #{userDesc} </if>
        <if test="userCreateUserId !=null and userCreateUserId !=''"> and USER_CREATE_USER_ID like #{userCreateUserId} </if>
        <if test="userStatus !=null and userStatus !=''"> and USER_STATUS like #{userStatus} </if>
        <if test="userType !=null and userType !=''"> and USER_TYPE like #{userType} </if>
    </where>ORDER by USER_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_USER
                                                                                                          where USER_ORDER_NUM = (select max(USER_ORDER_NUM) from TSSO_USER where USER_ORDER_NUM<(select USER_ORDER_NUM from TSSO_USER where USER_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSSO_USER
                                                                                                             where USER_ORDER_NUM = (select min(USER_ORDER_NUM) from TSSO_USER where USER_ORDER_NUM>(select USER_ORDER_NUM from TSSO_USER where USER_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectByAccount" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TSSO_USER where USER_ACCOUNT=#{userAccount,jdbcType=NVARCHAR}
    </select>

    <select id="selectBindRoleUsers" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TSSO_USER where USER_ID in (select BIND_USER_ID from TSSO_USER_ROLE where BIND_ROLE_ID=#{roleId})
    </select>
</mapper>
