<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.devdemo.DevDemoTLTreeListMapper">
  <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.devdemo.DevDemoTLTreeListEntity">
    <constructor>
      <idArg column="DDTL_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_KEY" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DDTL_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="DDTL_BIND_DIC_SELECTED" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_BIND_DIC_RADIO" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_DDTT_BIND_DIC_MUCHECKBOX" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DDTL_GROUP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    DDTL_ID, DDTL_KEY, DDTL_NAME, DDTL_VALUE, DDTL_STATUS, DDTL_DESC, DDTL_CREATETIME, 
    DDTL_ORDER_NUM, DDTL_BIND_DIC_SELECTED, DDTL_BIND_DIC_RADIO, DDTL_DDTT_BIND_DIC_MUCHECKBOX, 
    DDTL_GROUP_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB4D_DEV_DEMO_TL_TREE_LIST
    where DDTL_ID = #{ddtlId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB4D_DEV_DEMO_TL_TREE_LIST
    where DDTL_ID = #{ddtlId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.devdemo.DevDemoTLTreeListEntity">
    insert into TB4D_DEV_DEMO_TL_TREE_LIST (DDTL_ID, DDTL_KEY, DDTL_NAME, 
      DDTL_VALUE, DDTL_STATUS, DDTL_DESC, 
      DDTL_CREATETIME, DDTL_ORDER_NUM, DDTL_BIND_DIC_SELECTED, 
      DDTL_BIND_DIC_RADIO, DDTL_DDTT_BIND_DIC_MUCHECKBOX, 
      DDTL_GROUP_ID)
    values (#{ddtlId,jdbcType=NVARCHAR}, #{ddtlKey,jdbcType=NVARCHAR}, #{ddtlName,jdbcType=NVARCHAR}, 
      #{ddtlValue,jdbcType=NVARCHAR}, #{ddtlStatus,jdbcType=NVARCHAR}, #{ddtlDesc,jdbcType=NVARCHAR}, 
      #{ddtlCreatetime,jdbcType=TIMESTAMP}, #{ddtlOrderNum,jdbcType=INTEGER}, #{ddtlBindDicSelected,jdbcType=NVARCHAR}, 
      #{ddtlBindDicRadio,jdbcType=NVARCHAR}, #{ddtlDdttBindDicMucheckbox,jdbcType=NVARCHAR}, 
      #{ddtlGroupId,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.devdemo.DevDemoTLTreeListEntity">
    insert into TB4D_DEV_DEMO_TL_TREE_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ddtlId != null">
        DDTL_ID,
      </if>
      <if test="ddtlKey != null">
        DDTL_KEY,
      </if>
      <if test="ddtlName != null">
        DDTL_NAME,
      </if>
      <if test="ddtlValue != null">
        DDTL_VALUE,
      </if>
      <if test="ddtlStatus != null">
        DDTL_STATUS,
      </if>
      <if test="ddtlDesc != null">
        DDTL_DESC,
      </if>
      <if test="ddtlCreatetime != null">
        DDTL_CREATETIME,
      </if>
      <if test="ddtlOrderNum != null">
        DDTL_ORDER_NUM,
      </if>
      <if test="ddtlBindDicSelected != null">
        DDTL_BIND_DIC_SELECTED,
      </if>
      <if test="ddtlBindDicRadio != null">
        DDTL_BIND_DIC_RADIO,
      </if>
      <if test="ddtlDdttBindDicMucheckbox != null">
        DDTL_DDTT_BIND_DIC_MUCHECKBOX,
      </if>
      <if test="ddtlGroupId != null">
        DDTL_GROUP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ddtlId != null">
        #{ddtlId,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlKey != null">
        #{ddtlKey,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlName != null">
        #{ddtlName,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlValue != null">
        #{ddtlValue,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlStatus != null">
        #{ddtlStatus,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlDesc != null">
        #{ddtlDesc,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlCreatetime != null">
        #{ddtlCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ddtlOrderNum != null">
        #{ddtlOrderNum,jdbcType=INTEGER},
      </if>
      <if test="ddtlBindDicSelected != null">
        #{ddtlBindDicSelected,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlBindDicRadio != null">
        #{ddtlBindDicRadio,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlDdttBindDicMucheckbox != null">
        #{ddtlDdttBindDicMucheckbox,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlGroupId != null">
        #{ddtlGroupId,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.devdemo.DevDemoTLTreeListEntity">
    update TB4D_DEV_DEMO_TL_TREE_LIST
    <set>
      <if test="ddtlKey != null">
        DDTL_KEY = #{ddtlKey,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlName != null">
        DDTL_NAME = #{ddtlName,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlValue != null">
        DDTL_VALUE = #{ddtlValue,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlStatus != null">
        DDTL_STATUS = #{ddtlStatus,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlDesc != null">
        DDTL_DESC = #{ddtlDesc,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlCreatetime != null">
        DDTL_CREATETIME = #{ddtlCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ddtlOrderNum != null">
        DDTL_ORDER_NUM = #{ddtlOrderNum,jdbcType=INTEGER},
      </if>
      <if test="ddtlBindDicSelected != null">
        DDTL_BIND_DIC_SELECTED = #{ddtlBindDicSelected,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlBindDicRadio != null">
        DDTL_BIND_DIC_RADIO = #{ddtlBindDicRadio,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlDdttBindDicMucheckbox != null">
        DDTL_DDTT_BIND_DIC_MUCHECKBOX = #{ddtlDdttBindDicMucheckbox,jdbcType=NVARCHAR},
      </if>
      <if test="ddtlGroupId != null">
        DDTL_GROUP_ID = #{ddtlGroupId,jdbcType=NVARCHAR},
      </if>
    </set>
    where DDTL_ID = #{ddtlId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.devdemo.DevDemoTLTreeListEntity">
    update TB4D_DEV_DEMO_TL_TREE_LIST
    set DDTL_KEY = #{ddtlKey,jdbcType=NVARCHAR},
      DDTL_NAME = #{ddtlName,jdbcType=NVARCHAR},
      DDTL_VALUE = #{ddtlValue,jdbcType=NVARCHAR},
      DDTL_STATUS = #{ddtlStatus,jdbcType=NVARCHAR},
      DDTL_DESC = #{ddtlDesc,jdbcType=NVARCHAR},
      DDTL_CREATETIME = #{ddtlCreatetime,jdbcType=TIMESTAMP},
      DDTL_ORDER_NUM = #{ddtlOrderNum,jdbcType=INTEGER},
      DDTL_BIND_DIC_SELECTED = #{ddtlBindDicSelected,jdbcType=NVARCHAR},
      DDTL_BIND_DIC_RADIO = #{ddtlBindDicRadio,jdbcType=NVARCHAR},
      DDTL_DDTT_BIND_DIC_MUCHECKBOX = #{ddtlDdttBindDicMucheckbox,jdbcType=NVARCHAR},
      DDTL_GROUP_ID = #{ddtlGroupId,jdbcType=NVARCHAR}
    where DDTL_ID = #{ddtlId,jdbcType=NVARCHAR}
  </update>
</mapper>