<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2019/1/26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::GoJsLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeExtendLib"></th:block>
</head>
<body>
<div id="appList" class="list-2column">
    <div class="left-outer-wrap" style="width: 250px">
        <div class="inner-wrap">
            <div class="tool-bar-wrap">
                <div alt="新增分类组" title="新增分类组" class="add" @click="addGroup()"></div>
                <div alt="修改分类组" title="修改分类组" class="edit" @click="editGroup"></div>
                <div alt="删除分类组" title="删除分类组" class="del" @click="delGroup"></div>
                <div alt="浏览分类组" title="浏览分类组" class="view" @click="viewGroup"></div>
                <div alt="上移" title="上移" class="order-up" @click="moveGroup('up')"></div>
                <div alt="下移" title="下移" class="order-down last" @click="moveGroup('down')"></div>
            </div>
            <div>
                <ul id="zTreeUL" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="right-outer-wrap iv-list-page-wrap" style="padding: 10px;left: 260px">
        <tabs type="card" @on-click="selectedRelationChange">
            <tab-pane v-for="relation in relationList" :label="relation.relationName" :name="relation.relationId">
                <table-relation-content-comp :relation="relation" v-if="relation.relationId==selectedRelationId"></table-relation-content-comp>
            </tab-pane>
            <button-group slot="extra">
                <i-button size="small" @click="addRelation" type="success" icon="md-add">新增</i-button>
                <i-button size="small" @click="editRelation" type="primary" icon="md-create">编辑</i-button>
                <i-button size="small" @click="delRelation" type="primary" icon="md-close">删除</i-button>
                <i-button size="small" type="primary" @click="move('up')" icon="md-arrow-up"> 上移 </i-button>
                <i-button size="small" type="primary" @click="move('down')" icon="md-arrow-down"> 下移 </i-button>
            </button-group>
        </tabs>
    </div>
</div>
<script>
    var appList=new Vue({
        el:"#appList",
        mounted:function () {
            this.initTree();
            window.setTimeout(function () {
                appList.listHeight=ListPageUtility.GetGeneralPageHeight(-20);
            },500);
        },
        data:{
            acInterface:{
                <!--Tree -->
                getGroupTreeData:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelationGroup/GetTreeData",
                groupEditView:"/HTML/Builder/DataStorage/DataRelation/TableRelationGroupEdit.html",
                deleteGroup:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelationGroup/Delete",
                moveGroup:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelationGroup/Move",
                <!--Tabs -->
                listEditView:"/HTML/Builder/DataStorage/DataRelation/TableRelationEdit.html",
                getRelationByGroup:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelation/GetRelationByGroup",
                deleteRelation:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelation/Delete",
                moveRelation:"/PlatFormRest/Builder/DataStorage/TableRelation/TableRelation/Move"
            },
            <!--Tree-->
            treeIdFieldName:"relGroupId",
            treeObj:null,
            treeSelectedNode:null,
            treeSetting:{
                async : {
                    enable : true,
                    // Ajax 获取数据的 URL 地址
                    url :""
                },
                // 必须使用data
                data:{
                    key:{
                        name:"relGroupText"
                    },
                    simpleData : {
                        enable : true,
                        idKey : "relGroupId", // id编号命名
                        pIdKey : "relGroupParentId",  // 父id编号命名
                        rootId : 0
                    }
                },
                // 回调函数
                callback : {
                    onClick : function(event, treeId, treeNode) {
                        appList.treeNodeSelected(event,treeId,treeNode);
                    },
                    //成功的回调函数
                    onAsyncSuccess : function(event, treeId, treeNode, msg){
                        appList.treeObj.expandAll(true);
                    }
                }
            },
            <!--List-->
            relationList: [],
            selectedRelationId:null
        },
        methods:{
            <!--Tree-->
            initTree:function () {
                /*this.treeSetting.async.url = BaseUtility.BuildAction(this.acInterface.getGroupTreeData, {});
                this.treeObj=$.fn.zTree.init($("#zTreeUL"), this.treeSetting);*/
                var _self=this;
                AjaxUtility.Post(this.acInterface.getGroupTreeData, {}, function (result) {
                    if(result.success){
                        if(result.data!=null&&result.data.length>0){
                            for(var i=0;i<result.data.length;i++) {
                                if(result.data[i].relGroupIssystem=="是"&&result.data[i].relGroupChildCount==0) {
                                    result.data[i].icon = "../../../../Themes/Png16X16/table_key.png";
                                }
                                else if(result.data[i].relGroupIssystem=="否"&&result.data[i].relGroupChildCount==0) {
                                    result.data[i].icon = "../../../../Themes/Png16X16/table_edit.png";
                                }
                                else if(result.data[i].relGroupParentId=="-1"){
                                    result.data[i].icon = "../../../../Themes/Png16X16/table_relationship.png";
                                }
                            }
                        }
                        _self.treeObj=$.fn.zTree.init($("#zTreeUL"), _self.treeSetting,result.data);
                        _self.treeObj.expandAll(true);
                    }
                    else {
                        DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                    }
                }, "json");
            },
            treeNodeSelected:function (event, treeId, treeNode) {
                // 根节点不触发任何事件
                //if(treeNode.level != 0) {
                this.treeSelectedNode=treeNode;
                this.selectedRelationId=null;
                this.reloadRelations(this.treeSelectedNode.relGroupId);
                //this.selectionRows=null;
                //this.pageNum=1;
                //this.clearSearchCondition();
                //this.searchCondition.groupId.value=this.treeSelectedNode[this.treeIdFieldName];
                //this.reloadData();
                //appList.reloadTreeTableData();
                //}
            },
            addGroup:function () {
                //debugger;
                if (this.treeSelectedNode != null) {
                    var url = BaseUtility.BuildView(this.acInterface.groupEditView, {
                        "op": "add",
                        "parentId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "分组"}, 2);
                }
                else {
                    DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, "请选择父节点!", null);
                }
            },
            editGroup:function () {
                if(this.treeSelectedNode!=null) {
                    var url = BaseUtility.BuildView(this.acInterface.groupEditView, {
                        "op": "update",
                        "recordId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "分组"}, 2);
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择需要编辑的节点!",null);
                }
            },
            viewGroup:function () {
                var url = BaseUtility.BuildView(this.acInterface.groupEditView, {
                    "op": "view",
                    "recordId": this.treeSelectedNode[appList.treeIdFieldName]
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "分组"}, 2);
            },
            delGroup:function () {
                //var url="/PlatForm/devdemo/TreeAndList/DevDemoTLTree/Delete.do";
                var _self=this;
                var recordId=this.treeSelectedNode[appList.treeIdFieldName];
                DialogUtility.Confirm(window, "确认要删除选定的节点吗？", function () {
                    AjaxUtility.Delete(_self.acInterface.deleteGroup, {recordId: recordId}, function (result) {
                        if (result.success) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                appList.treeObj.removeNode(appList.treeSelectedNode);
                                appList.treeSelectedNode=null;
                            });
                        }
                        else {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                        }
                    }, "json");
                });
            },
            moveGroup:function (type) {
                if(this.treeSelectedNode!=null) {
                    var recordId = this.treeSelectedNode[appList.treeIdFieldName];
                    AjaxUtility.Post(this.acInterface.moveGroup, {recordId: recordId,type:type}, function (result) {
                        if (result.success) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                if(type=="down") {
                                    if(appList.treeSelectedNode.getNextNode()!=null) {
                                        appList.treeObj.moveNode(appList.treeSelectedNode.getNextNode(), appList.treeSelectedNode, "next", false)
                                    }
                                }else{
                                    if(appList.treeSelectedNode.getPreNode()!=null) {
                                        appList.treeObj.moveNode(appList.treeSelectedNode.getPreNode(), appList.treeSelectedNode, "prev", false);
                                    }
                                }
                            });
                        }
                        else {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message,null);
                        }
                    }, "json");
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择需要编辑的节点!",null);
                }
            },
            newTreeNode : function (newNodeData) {
                var silent = false;
                appList.treeObj.addNodes(this.treeSelectedNode,newNodeData,silent);
            },
            updateNode : function (newNodeData) {
                this.treeSelectedNode=$.extend(true,this.treeSelectedNode, newNodeData);
                appList.treeObj.updateNode(this.treeSelectedNode);
            },
            <!--Tabs-->
            selectedRelationChange:function(name){
                this.selectedRelationId=name;
                //alert(name);
            },
            addRelation: function () {
                if(this.treeSelectedNode!=null) {
                    var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                        "op": "add",
                        "groupId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "数据表关系图"}, 2);
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择分组!",null);
                }
            },
            editRelation: function () {
                if(this.selectedRelationId) {
                    var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                        "op": "update",
                        "recordId": this.selectedRelationId
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "数据表关系图"}, 2);
                }
                else{
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择数据关系图!",null);
                }
            },
            view:function (recordId) {
                var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                    "op": "view",
                    "recordId": recordId
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "列表"}, 2);
            },
            delRelation: function () {
                var _self=this;

                DialogUtility.Confirm(window, "您确认要删除当前记录吗？", function () {

                    AjaxUtility.Delete(this.acInterface.deleteRelation,
                        {
                            "recordId": _self.selectedRelationId
                        },
                        function (result) {
                            if (result.success) {
                                _self.reloadRelations(_self.treeSelectedNode.relGroupId);
                            }
                            else {
                                DialogUtility.AlertError(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                });
                            }
                        }, "json");
                });
            },
            move:function (type) {
                var _self=this;
                //var oldselectedRelationId=_self.selectedRelationId;
                AjaxUtility.Post(this.acInterface.moveRelation,
                    {
                        recordId: _self.selectedRelationId,
                        type: type
                    },
                    function (result) {
                        if (result.success) {
                            _self.reloadRelations(_self.treeSelectedNode.relGroupId);

                        }
                        else{
                            DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},result.message,null);
                        }
                    }, "json"
                );
            },
            reloadRelations:function (groupId) {
                //debugger;
                var _self=this;
                AjaxUtility.Post(this.acInterface.getRelationByGroup,
                    {
                        "groupId": groupId
                    },
                    function (result) {
                        if (result.success) {
                            _self.relationList=result.data;
                            if(_self.relationList.length>0){
                                if(!_self.selectedRelationId) {
                                    _self.selectedRelationId = _self.relationList[0].relationId;
                                }
                            }
                            else{
                                _self.selectedRelationId=null;
                            }
                        }
                        else
                        {
                            DialogUtility.AlertError(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                        }
                    }, "json");
            }
        }
    });
</script>
</body>
</html>