<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2018/8/26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JBuild4D</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<script type="text/javascript" src="../Js/T3P/JQuery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../Js/JBuild4DPlatformLib.js?refVersion=1"></script>
	<script type="text/javascript" src="../Js/T3P/VUE-2.5.16/vue.js"></script>
	<script type="text/javascript" src="../Js/VueEXComponent.js?refVersion=1"></script>
	<script type="text/javascript" src="../Js/T3P/IView-3.X/dist/iview.min.js"></script>
	<script type="text/javascript" src="../Js/T3P/JQuery-UI-1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="../Js/T3P/ZTree-V3/js/jquery.ztree.all.js"></script>
    <link rel="stylesheet" type="text/css" href="../Themes/Default/Css/Jbuild4dPlatform.css?refVersion=1" />
	<link rel="stylesheet" type="text/css" href="../Themes/Default/IView-3.X/iview.css" />
	<link rel="stylesheet" type="text/css" href="../Themes/Default/JQueryUI/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../Themes/Default/ZTree/zTreeStyle/zTreeStyle.css" />
</head>
<body style="height: 100%;overflow: hidden">
<div id="app">
    <div class="frame-layout">
        <layout :style="{minHeight: '100vh'}">
            <i-header style="padding: 0 10px" class="header-wrap">
                <div style="width: 100%;height: 65px">
                    <div class="layout-logo">
                        <Icon type="ios-monitor-outline"></Icon>&nbsp;&nbsp;JBuild4D-V-0.31
                    </div>
                    <div class="top-menu-item-warp">
                        <div class="top-menu-item-inner-warp">
                            <div :class="topMenuItemClass(item)" @click="topMenuClick(item,true)"
                                 v-for="(item, key) in topMenuArrayJson" topmenu="true">
                                {{item.menuText}}
                            </div>
                        </div>
                    </div>
                    <div class="top-menu-op-c">
                        <div class="right" @click="nextTopMenu()"></div>
                        <div class="left" @click="prevTopMenu()"></div>
                    </div>
                    <div class="top-right-wrap">
                        <div class="user-warp">
                            <div class="user-header"></div>
                            <div class="line"></div>
                            <div style="float: left">
                                <div style="line-height:24px;margin-top: 8px">用户名：{{userInfo.userName}}</div>
                                <div style="line-height: 24px;overflow-x: hidden;width: 130px;white-space: nowrap;text-overflow:  ellipsis;">
                                    部&nbsp;&nbsp;&nbsp;&nbsp;门：{{userInfo.organName}}
                                </div>
                            </div>
                        </div>
                        <div class="logout" @click="logout()"></div>
                    </div>
                </div>
                <div class="header-shadow-line" style="height: 4px;width: 100%"></div>
            </i-header>
            <layout>
                <sider hide-trigger :style="sider_style" width="300">
                    <iframe id="leftMenuIframe" :src="leftIframeUrl" frameborder="0"
                            style="width: 100%;height: 99%"></iframe>
                </sider>
                <layout :style="{padding: '0 24px 24px'}">
                    <breadcrumb :style="{margin: '10px 0'}">
                        <breadcrumb-item v-for="(item,key) in breadcrumbArrayJson">{{item.text}}</breadcrumb-item>
                    </breadcrumb>
                    <i-content :style="{padding: '24px', minHeight: '480px', background: '#fff'}">
                        <iframe name="iframe" :src="contentIframeUrl" width="100%" :height="frameHeight"
                                frameborder="0"></iframe>
                    </i-content>
                </layout>
            </layout>
        </layout>
    </div>
</div>
<script type="text/javascript">
    var IsTopFramePage = true;
    var menuJsonSource = [];
    var app = new Vue({
        data: {
            menuJson: null,
            menuJsonSource: null,
            topMenuArrayJson: null,
            leftMenuArrayJson: null,
            breadcrumbArrayJson: [{text: "JBuild4D"}],
            frameHeight: 0,
            contentIframeUrl: BaseUtility.BuildView("/PlatForm/Base/RightContentView"),
            leftIframeUrl: "",
            defaultLeftIframeUrl: BaseUtility.BuildView("/PlatForm/Base/LeftMenuView"),
            defaultContentIframeUrl: BaseUtility.BuildView("/PlatForm/Base/RightContentView"),
            logoutUrl: BaseUtility.BuildView("/LoginView"),
            userInfo: {}
        },
        mounted: function () {
            this.setFrameHeight();
            //this.contentIframeUrl=BaseUtility.ReplaceUrlVariable(this.contentIframeUrl);
            this.contentIframeUrl = this.contentIframeUrl;
            AjaxUtility.Post("/PlatFormRest/System/Menu/GetMyMenu", {}, function (result) {
                menuJsonSource = result.data;
                //增加selected属性，用于选中状态控制。
                for (var i = 0; i < menuJsonSource.length; i++) {
                    menuJsonSource[i].selected = false;
                }
                app.menuJson = JsonUtility.ParseArrayJsonToTreeJson({
                    KeyField: "menuId",
                    RelationField: "menuParentId",
                    ChildFieldName: "items"
                }, menuJsonSource, "0");
                app.menuJsonSource = menuJsonSource;
                app.topMenuArrayJson = app.menuJson.items;
                app.leftMenuArrayJson = app.menuJson.items[0].items;
                app.topMenuClick(app.topMenuArrayJson[0], false);
                /*window.setTimeout(function () {

                },200);*/
            }, "json");
            app.userInfo = CacheDataUtility.GetCurrentUserInfo();
        },
        created: function () {
        },
        methods: {
            topMenuItemClass: function (item) {
                if (item.selected) {
                    return "top-menu-item top-menu-item-selected " + item.menuClassName;
                }
                return "top-menu-item " + item.menuClassName;
            },
            unSelectedAllTopMenu: function () {
                for (var i = 0; i < this.topMenuArrayJson.length; i++) {
                    this.topMenuArrayJson[i].selected = false;
                }
            },
            topMenuHasNextPage: function () {
                var outerwidth = $(".frame-top-menu-item-warp").width();
                var topmenus = $("[topmenu='true']");
                var topmenuswidth = 0;
                for (var i = 0; i < topmenus.length; i++) {
                    topmenuswidth += $(topmenus[i]).outerWidth(true);
                }
                return topmenuswidth > outerwidth;
            },
            nextTopMenu: function () {
                //debugger;
                if (this.topMenuHasNextPage()) {
                    var warpObj = $(".frame-top-menu-item-warp");
                    var innerWarpObj = $(".frame-top-menu-item-inner-warp");
                    var outerWidth = warpObj.width() * 0.9;
                    var left = innerWarpObj.css("left");
                    var innerLeft = 0;
                    if (left != "auto") {
                        innerLeft = parseInt(left);
                    }
                    var innerWidth = innerWarpObj.width();
                    var toLeft = innerLeft - outerWidth;

                    if (-toLeft > innerWidth - warpObj.width()) {
                        toLeft = -(innerWidth - warpObj.width());
                    }
                    innerWarpObj.animate({
                        left: toLeft
                    }, 1000);
                }
                else {

                }
            },
            prevTopMenu: function () {
                var warpObj = $(".frame-top-menu-item-warp");
                var innerWarpObj = $(".frame-top-menu-item-inner-warp");
                var innerLeft = parseInt(innerWarpObj.css("left"));
                if (innerLeft < 0) {
                    var outerWidth = warpObj.width() * 0.9;
                    var toLeft = innerLeft + outerWidth;
                    if (toLeft > 0) {
                        toLeft = 0;
                    }
                    innerWarpObj.animate({
                        left: toLeft
                    }, 1000);
                }
            },
            getMenu: function (menuId) {
                for (var i = 0; i < this.menuJsonSource.length; i++) {
                    if (this.menuJsonSource[i].menuId == menuId) {
                        return this.menuJsonSource[i];
                    }
                }
                return null;
            },
            buildBreadcrumbByMenuId: function (menuId) {
                var lastMenu = this.getMenu(menuId);
                var breadcrumbArrayJson = new Array();
                //debugger;
                if (lastMenu != null) {
                    breadcrumbArrayJson.push({text: lastMenu.menuText});
                    if (lastMenu.menuParentId != "0") {
                        var lastMenuL1 = this.getMenu(lastMenu.menuParentId);
                        breadcrumbArrayJson.push({text: lastMenuL1.menuText});
                        if (lastMenuL1.menuParentId != "0") {
                            lastMenuL1 = this.getMenu(lastMenuL1.menuParentId);
                            breadcrumbArrayJson.push({text: lastMenuL1.menuText});
                            if (lastMenuL1.menuParentId != "0") {
                                lastMenuL1 = this.getMenu(lastMenuL1.menuParentId);
                                breadcrumbArrayJson.push({text: lastMenuL1.menuText});
                            }
                        }
                    }
                }
                breadcrumbArrayJson = breadcrumbArrayJson.reverse();
                this.setBreadcrumbArrayJson(breadcrumbArrayJson);
            },
            topMenuClick: function (item, reSetLeftMenu) {
                //debugger;
                this.unSelectedAllTopMenu();
                item.selected = true;
                this.leftMenuArrayJson = item.items;
                if (this.leftIframeUrl.indexOf("/PlatForm/Base/LeftMenuView.do") >= 0 && reSetLeftMenu) {
                    $("#leftMenuIframe")[0].contentWindow.app.leftMenuArrayJson = JsonUtility.CloneSimple(app.leftMenuArrayJson);
                };
                //debugger;
                this.buildBreadcrumbByMenuId(item.menuId);
                //debugger;
                if (item.menuRightUrl != "" && item.menuRightUrl != null) {
                    this.contentIframeUrl = item.menuRightUrl;
                } else {
                    this.contentIframeUrl = this.defaultContentIframeUrl;
                }
                //debugger;
                if (item.menuLeftUrl != "" && item.menuLeftUrl != null && item.menuLeftUrl != "/LeftMenuView") {
                    //alert("1");
                    this.leftIframeUrl = BaseUtility.BuildView(item.menuLeftUrl);
                    return;
                }
                else {
                    //alert("2");
                    $("#leftMenuIframe").on("load", function () {
                        //alert("menus");
                        $("#leftMenuIframe")[0].contentWindow.app.leftMenuArrayJson = JsonUtility.CloneSimple(app.leftMenuArrayJson);
                        $("#leftMenuIframe").unbind("load");
                        //$("#leftMenuIframe")[0].contentWindow.app.PageReady();
                    });
                    //alert(this.leftIframeUrl);
                    //alert(this.defaultLeftIframeUrl);
                    this.leftIframeUrl = this.defaultLeftIframeUrl;
                    //alert(this.leftIframeUrl);
                }
            },
            setFrameHeight: function () {
                //调整掉一些补白的值
                //debugger;
                this.mainHeight = PageStyleUtility.GetWindowHeight() - 90 - 60;
                this.frameHeight = this.mainHeight - 30;
            },
            setBreadcrumbArrayJson: function (jsonArray) {
                this.breadcrumbArrayJson = jsonArray;
            },
            setContentIframeUrl: function (url) {
                this.contentIframeUrl = BaseUtility.GetRootPath() + url;
            },
            logout: function () {
                window.location.href = this.logoutUrl;
            }
        },
        computed: {
            sider_style: function () {
                var height = $(window).height() - 65;
                return {
                    background: "#fff",
                    height: height + "px",
                    overflow: "auto"
                }
            }
        }
    });
    app.$mount('#app');
</script>
</body>
</html>