{
    /*"presets": [
        ["@babel/env", {
            "loose": false,
            "modules": "commonjs",
            "spec": true,
            "targets": {
                "browsers": [
                    "last 3 Chrome versions",
                    "last 3 Firefox versions",
                    "Safari >= 10",
                    "Explorer >= 10",
                    "Edge >= 12",
                    "iOS >= 10",
                    "Android >= 6"
                ]
            },
            "useBuiltIns":false,
            "debug": false
        }]
    ],*/
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 3 Chrome versions",
                        "last 3 Firefox versions",
                        "Safari >= 10",
                        "Explorer >= 10",
                        "Edge >= 12",
                        "iOS >= 10",
                        "Android >= 6"
                    ]
                },
                "modules": "commonjs",
                "debug":true,
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-arrow-functions", {}],
        /*["@babel/plugin-transform-block-scoping", {}],
        ["@babel/plugin-transform-classes", {}],*/
        ["@babel/plugin-proposal-class-properties", { "loose": false }]/*,
        "@babel/transform-runtime"*/
    ],
    "comments": false
}

