<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.MenuEntity">
    <constructor>
      <idArg column="MENU_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_USER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="MENU_ORGAN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="IS_EXPAND" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="IS_SYSTEM" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="LEFT_URL" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="LEFT_URL_PARA" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="RIGHT_URL" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="RIGHT_URL_PARA" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ORDER_NUM" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="PARENT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="PARENT_ID_LIST" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SHARE_TYPE" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="TAG" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="TARGET" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="UPDATER" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="USE_ORGAN" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="USE_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="USE_ORGAN_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="USE_ORGAN_TYPE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ICON_CLASS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="HOVER_CLASS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SELECTED_CLASS_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="CHILD_COUNT" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATOR" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DESCRIPTION" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="JS_EXPRESSION" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    MENU_ID, MENU_NAME, MENU_TEXT, MENU_VALUE, MENU_TYPE, MENU_USER_ID, MENU_USER_NAME, 
    MENU_ORGAN_ID, MENU_ORGAN_NAME, IS_EXPAND, IS_SYSTEM, LEFT_URL, LEFT_URL_PARA, RIGHT_URL, 
    RIGHT_URL_PARA, ORDER_NUM, ORGAN_ID, PARENT_ID, PARENT_ID_LIST, SHARE_TYPE, TAG, 
    TARGET, UPDATER, USE_ORGAN, USE_ORGAN_ID, USE_ORGAN_TYPE, USE_ORGAN_TYPE_ID, ICON_CLASS_NAME, 
    HOVER_CLASS_NAME, SELECTED_CLASS_NAME, CHILD_COUNT, CREATE_TIME, CREATOR, DESCRIPTION, 
    UPDATE_TIME, JS_EXPRESSION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB4D_MENU
    where MENU_ID = #{menuId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB4D_MENU
    where MENU_ID = #{menuId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.MenuEntity">
    insert into TB4D_MENU (MENU_ID, MENU_NAME, MENU_TEXT, 
      MENU_VALUE, MENU_TYPE, MENU_USER_ID, 
      MENU_USER_NAME, MENU_ORGAN_ID, MENU_ORGAN_NAME, 
      IS_EXPAND, IS_SYSTEM, LEFT_URL, 
      LEFT_URL_PARA, RIGHT_URL, RIGHT_URL_PARA, 
      ORDER_NUM, ORGAN_ID, PARENT_ID, 
      PARENT_ID_LIST, SHARE_TYPE, TAG, 
      TARGET, UPDATER, USE_ORGAN, 
      USE_ORGAN_ID, USE_ORGAN_TYPE, USE_ORGAN_TYPE_ID, 
      ICON_CLASS_NAME, HOVER_CLASS_NAME, SELECTED_CLASS_NAME, 
      CHILD_COUNT, CREATE_TIME, CREATOR, 
      DESCRIPTION, UPDATE_TIME, JS_EXPRESSION
      )
    values (#{menuId,jdbcType=NVARCHAR}, #{menuName,jdbcType=NVARCHAR}, #{menuText,jdbcType=NVARCHAR}, 
      #{menuValue,jdbcType=NVARCHAR}, #{menuType,jdbcType=NVARCHAR}, #{menuUserId,jdbcType=NVARCHAR}, 
      #{menuUserName,jdbcType=NVARCHAR}, #{menuOrganId,jdbcType=NVARCHAR}, #{menuOrganName,jdbcType=NVARCHAR}, 
      #{isExpand,jdbcType=BIGINT}, #{isSystem,jdbcType=BIGINT}, #{leftUrl,jdbcType=NVARCHAR}, 
      #{leftUrlPara,jdbcType=NVARCHAR}, #{rightUrl,jdbcType=NVARCHAR}, #{rightUrlPara,jdbcType=NVARCHAR}, 
      #{orderNum,jdbcType=BIGINT}, #{organId,jdbcType=NVARCHAR}, #{parentId,jdbcType=NVARCHAR}, 
      #{parentIdList,jdbcType=NVARCHAR}, #{shareType,jdbcType=BIGINT}, #{tag,jdbcType=NVARCHAR}, 
      #{target,jdbcType=BIGINT}, #{updater,jdbcType=NVARCHAR}, #{useOrgan,jdbcType=NVARCHAR}, 
      #{useOrganId,jdbcType=NVARCHAR}, #{useOrganType,jdbcType=NVARCHAR}, #{useOrganTypeId,jdbcType=NVARCHAR}, 
      #{iconClassName,jdbcType=NVARCHAR}, #{hoverClassName,jdbcType=NVARCHAR}, #{selectedClassName,jdbcType=NVARCHAR}, 
      #{childCount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=NVARCHAR}, 
      #{description,jdbcType=NVARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{jsExpression,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.MenuEntity">
    insert into TB4D_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="menuText != null">
        MENU_TEXT,
      </if>
      <if test="menuValue != null">
        MENU_VALUE,
      </if>
      <if test="menuType != null">
        MENU_TYPE,
      </if>
      <if test="menuUserId != null">
        MENU_USER_ID,
      </if>
      <if test="menuUserName != null">
        MENU_USER_NAME,
      </if>
      <if test="menuOrganId != null">
        MENU_ORGAN_ID,
      </if>
      <if test="menuOrganName != null">
        MENU_ORGAN_NAME,
      </if>
      <if test="isExpand != null">
        IS_EXPAND,
      </if>
      <if test="isSystem != null">
        IS_SYSTEM,
      </if>
      <if test="leftUrl != null">
        LEFT_URL,
      </if>
      <if test="leftUrlPara != null">
        LEFT_URL_PARA,
      </if>
      <if test="rightUrl != null">
        RIGHT_URL,
      </if>
      <if test="rightUrlPara != null">
        RIGHT_URL_PARA,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="organId != null">
        ORGAN_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="parentIdList != null">
        PARENT_ID_LIST,
      </if>
      <if test="shareType != null">
        SHARE_TYPE,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="target != null">
        TARGET,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="useOrgan != null">
        USE_ORGAN,
      </if>
      <if test="useOrganId != null">
        USE_ORGAN_ID,
      </if>
      <if test="useOrganType != null">
        USE_ORGAN_TYPE,
      </if>
      <if test="useOrganTypeId != null">
        USE_ORGAN_TYPE_ID,
      </if>
      <if test="iconClassName != null">
        ICON_CLASS_NAME,
      </if>
      <if test="hoverClassName != null">
        HOVER_CLASS_NAME,
      </if>
      <if test="selectedClassName != null">
        SELECTED_CLASS_NAME,
      </if>
      <if test="childCount != null">
        CHILD_COUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="jsExpression != null">
        JS_EXPRESSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=NVARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=NVARCHAR},
      </if>
      <if test="menuText != null">
        #{menuText,jdbcType=NVARCHAR},
      </if>
      <if test="menuValue != null">
        #{menuValue,jdbcType=NVARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=NVARCHAR},
      </if>
      <if test="menuUserId != null">
        #{menuUserId,jdbcType=NVARCHAR},
      </if>
      <if test="menuUserName != null">
        #{menuUserName,jdbcType=NVARCHAR},
      </if>
      <if test="menuOrganId != null">
        #{menuOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="menuOrganName != null">
        #{menuOrganName,jdbcType=NVARCHAR},
      </if>
      <if test="isExpand != null">
        #{isExpand,jdbcType=BIGINT},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=BIGINT},
      </if>
      <if test="leftUrl != null">
        #{leftUrl,jdbcType=NVARCHAR},
      </if>
      <if test="leftUrlPara != null">
        #{leftUrlPara,jdbcType=NVARCHAR},
      </if>
      <if test="rightUrl != null">
        #{rightUrl,jdbcType=NVARCHAR},
      </if>
      <if test="rightUrlPara != null">
        #{rightUrlPara,jdbcType=NVARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=NVARCHAR},
      </if>
      <if test="parentIdList != null">
        #{parentIdList,jdbcType=NVARCHAR},
      </if>
      <if test="shareType != null">
        #{shareType,jdbcType=BIGINT},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=NVARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=NVARCHAR},
      </if>
      <if test="useOrgan != null">
        #{useOrgan,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganId != null">
        #{useOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganType != null">
        #{useOrganType,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganTypeId != null">
        #{useOrganTypeId,jdbcType=NVARCHAR},
      </if>
      <if test="iconClassName != null">
        #{iconClassName,jdbcType=NVARCHAR},
      </if>
      <if test="hoverClassName != null">
        #{hoverClassName,jdbcType=NVARCHAR},
      </if>
      <if test="selectedClassName != null">
        #{selectedClassName,jdbcType=NVARCHAR},
      </if>
      <if test="childCount != null">
        #{childCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jsExpression != null">
        #{jsExpression,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.MenuEntity">
    update TB4D_MENU
    <set>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=NVARCHAR},
      </if>
      <if test="menuText != null">
        MENU_TEXT = #{menuText,jdbcType=NVARCHAR},
      </if>
      <if test="menuValue != null">
        MENU_VALUE = #{menuValue,jdbcType=NVARCHAR},
      </if>
      <if test="menuType != null">
        MENU_TYPE = #{menuType,jdbcType=NVARCHAR},
      </if>
      <if test="menuUserId != null">
        MENU_USER_ID = #{menuUserId,jdbcType=NVARCHAR},
      </if>
      <if test="menuUserName != null">
        MENU_USER_NAME = #{menuUserName,jdbcType=NVARCHAR},
      </if>
      <if test="menuOrganId != null">
        MENU_ORGAN_ID = #{menuOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="menuOrganName != null">
        MENU_ORGAN_NAME = #{menuOrganName,jdbcType=NVARCHAR},
      </if>
      <if test="isExpand != null">
        IS_EXPAND = #{isExpand,jdbcType=BIGINT},
      </if>
      <if test="isSystem != null">
        IS_SYSTEM = #{isSystem,jdbcType=BIGINT},
      </if>
      <if test="leftUrl != null">
        LEFT_URL = #{leftUrl,jdbcType=NVARCHAR},
      </if>
      <if test="leftUrlPara != null">
        LEFT_URL_PARA = #{leftUrlPara,jdbcType=NVARCHAR},
      </if>
      <if test="rightUrl != null">
        RIGHT_URL = #{rightUrl,jdbcType=NVARCHAR},
      </if>
      <if test="rightUrlPara != null">
        RIGHT_URL_PARA = #{rightUrlPara,jdbcType=NVARCHAR},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="organId != null">
        ORGAN_ID = #{organId,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=NVARCHAR},
      </if>
      <if test="parentIdList != null">
        PARENT_ID_LIST = #{parentIdList,jdbcType=NVARCHAR},
      </if>
      <if test="shareType != null">
        SHARE_TYPE = #{shareType,jdbcType=BIGINT},
      </if>
      <if test="tag != null">
        TAG = #{tag,jdbcType=NVARCHAR},
      </if>
      <if test="target != null">
        TARGET = #{target,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=NVARCHAR},
      </if>
      <if test="useOrgan != null">
        USE_ORGAN = #{useOrgan,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganId != null">
        USE_ORGAN_ID = #{useOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganType != null">
        USE_ORGAN_TYPE = #{useOrganType,jdbcType=NVARCHAR},
      </if>
      <if test="useOrganTypeId != null">
        USE_ORGAN_TYPE_ID = #{useOrganTypeId,jdbcType=NVARCHAR},
      </if>
      <if test="iconClassName != null">
        ICON_CLASS_NAME = #{iconClassName,jdbcType=NVARCHAR},
      </if>
      <if test="hoverClassName != null">
        HOVER_CLASS_NAME = #{hoverClassName,jdbcType=NVARCHAR},
      </if>
      <if test="selectedClassName != null">
        SELECTED_CLASS_NAME = #{selectedClassName,jdbcType=NVARCHAR},
      </if>
      <if test="childCount != null">
        CHILD_COUNT = #{childCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jsExpression != null">
        JS_EXPRESSION = #{jsExpression,jdbcType=NVARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.MenuEntity">
    update TB4D_MENU
    set MENU_NAME = #{menuName,jdbcType=NVARCHAR},
      MENU_TEXT = #{menuText,jdbcType=NVARCHAR},
      MENU_VALUE = #{menuValue,jdbcType=NVARCHAR},
      MENU_TYPE = #{menuType,jdbcType=NVARCHAR},
      MENU_USER_ID = #{menuUserId,jdbcType=NVARCHAR},
      MENU_USER_NAME = #{menuUserName,jdbcType=NVARCHAR},
      MENU_ORGAN_ID = #{menuOrganId,jdbcType=NVARCHAR},
      MENU_ORGAN_NAME = #{menuOrganName,jdbcType=NVARCHAR},
      IS_EXPAND = #{isExpand,jdbcType=BIGINT},
      IS_SYSTEM = #{isSystem,jdbcType=BIGINT},
      LEFT_URL = #{leftUrl,jdbcType=NVARCHAR},
      LEFT_URL_PARA = #{leftUrlPara,jdbcType=NVARCHAR},
      RIGHT_URL = #{rightUrl,jdbcType=NVARCHAR},
      RIGHT_URL_PARA = #{rightUrlPara,jdbcType=NVARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      ORGAN_ID = #{organId,jdbcType=NVARCHAR},
      PARENT_ID = #{parentId,jdbcType=NVARCHAR},
      PARENT_ID_LIST = #{parentIdList,jdbcType=NVARCHAR},
      SHARE_TYPE = #{shareType,jdbcType=BIGINT},
      TAG = #{tag,jdbcType=NVARCHAR},
      TARGET = #{target,jdbcType=BIGINT},
      UPDATER = #{updater,jdbcType=NVARCHAR},
      USE_ORGAN = #{useOrgan,jdbcType=NVARCHAR},
      USE_ORGAN_ID = #{useOrganId,jdbcType=NVARCHAR},
      USE_ORGAN_TYPE = #{useOrganType,jdbcType=NVARCHAR},
      USE_ORGAN_TYPE_ID = #{useOrganTypeId,jdbcType=NVARCHAR},
      ICON_CLASS_NAME = #{iconClassName,jdbcType=NVARCHAR},
      HOVER_CLASS_NAME = #{hoverClassName,jdbcType=NVARCHAR},
      SELECTED_CLASS_NAME = #{selectedClassName,jdbcType=NVARCHAR},
      CHILD_COUNT = #{childCount,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=NVARCHAR},
      DESCRIPTION = #{description,jdbcType=NVARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      JS_EXPRESSION = #{jsExpression,jdbcType=NVARCHAR}
    where MENU_ID = #{menuId,jdbcType=NVARCHAR}
  </update>
</mapper>