[v-cloak]{
    display: none;
}

.frame-layout{
    border: 0px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow:hidden;
}

.frame-layout-header-wrap{
    /*background-image: url("../Images/dingbu.png") !important;*/
}

.frame-layout-logo{
    width: 305px;
    height: 40px;
    /*background: #5b6270;*/
    border-radius: 3px;
    float: left;
    position: relative;
    top: 10px;
    left: 4px;
    color:#ffffff;
    font-size: 20px;
    line-height: 40px;
    padding-left: 6px;
    z-index: 2100;
}

.layout-header-shadow-line
{
    -moz-box-shadow:2px 2px 5px #7f7f7f;
    -webkit-box-shadow:2px 2px 5px #7f7f7f;
    box-shadow:-2px 2px 2px #7f7f7f;
    z-index: 2200;
}

/*.layout-nav{
    width: 1220px;
    margin: 0 auto;
    margin-right: 0px;
}*/

.frame-top-menu-item-warp{
    /*background: #0f9087;*/
    height: 50px;
    left: 340px;
    right: 340px;
    position: absolute;
    top: 4px;
    overflow: hidden;
    padding-right: 10px;
}
.frame-top-menu-item-inner-warp{
    position: absolute;
    left: 0;
    margin-right: 20px;
    width: 3000px;
}

.frame-top-menu-item{
    height:22px;
    float:left;
    padding-left: 34px;
    background-repeat: no-repeat;
    margin-top: 16px;
    line-height: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1px;
    color: #ffffff;
    cursor: pointer;
}
.frame-top-menu-item:hover{
    color: #ff2848;
}

.frame-top-menu-item-selected{
    color: #eca19a;
}

.frame-top-menu-data{ background-image:url(Images/TopMenu/TopMenu-Data.png);}
.frame-top-menu-affairs{ background-image:url(Images/TopMenu/TopMenu-Affairs.png);}
.frame-top-menu-assistance{ background-image:url(Images/TopMenu/TopMenu-Assistance.png);}
.frame-top-menu-biangeng{ background-image:url(Images/TopMenu/TopMenu-Biangeng.png);}
.frame-top-menu-bidui{ background-image:url(Images/TopMenu/TopMenu-Bidui.png);}
.frame-top-menu-calendar{ background-image:url(Images/TopMenu/TopMenu-Calendar.png);}

.frame-top-menu-op-c {
    /*background-color: #416db8;*/
    /*height: 100%;*/
    position: absolute;
    right: 300px;
    top: 5px;
    width: 30px;
    z-index: 20;
}
.frame-top-menu-op-c div{
    height: 20px;
    width: 30px;
    margin: 5px 0;
    cursor: pointer;
}
.frame-top-menu-op-c .right{
    background: url("Images/Arrow_R.png") no-repeat right;
}
.frame-top-menu-op-c .right:hover{
    background: url("Images/Arrow_R_Hover.png") no-repeat right;
}
.frame-top-menu-op-c .left{
    background: url("Images/Arrow_L.png") no-repeat right;
}
.frame-top-menu-op-c .left:hover{
    background: url("Images/Arrow_L_Hover.png") no-repeat right;

}

.frame-left-menu-item{
    height:22px;
    float:left;
    padding-left: 34px;
    background-repeat: no-repeat;
    line-height: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1px;
    color: #000000;
    cursor: pointer;
}
.frame-left-menu-affairs{
    background-image:url(Images/LeftMenu/LeftMenu-Affairs.png);
}

.frame-top-right-wrap{
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 901;
    width: 280px;
}

.frame-user-warp {
    display: inline-block;
    float: left;
    margin-left: 0px;
    width:200px ;
    color: #ffffff;
}

.frame-user-warp .user-header {
    background: url(Images/User-Header.png) center no-repeat;
    width: 52px;
    height: 54px;
    margin-top: 4px;
    display: inline-block;
    float: left;
}

.frame-user-warp .line {
    border-right: 2px solid #509bf3;
    width: 8px;
    height: 46px;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-right: 6px;
}

.logout {
    background: url(Images/Logout.png) center no-repeat;
    width: 78px;
    height: 54px;
    margin-top: 4px;
    display: inline-block;
    float: left;
}

/*
.card-title-include-button{

}

.card-title-include-button .ivu-card-head{
    padding: 9px;
}

.page2c{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.page2c .c1{
    float: left;
    height: 100%;
    background-color: #ffffff;
}

.page2c .c2{
    float: right;
    height: 100%;
    background-color: #ffffff;
}

.general-edit-page-wrap{
    margin-top: 15px;
}

.scroll-div-wrap::-webkit-scrollbar {
    width: 10px;
}

.scroll-div-wrap::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #eee;
}

.scroll-div-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(171, 175, 186);
}

.dialog-1-wrap-sy-nx{
    height: 560px;
    overflow-y: scroll;
    overflow-x:hidden ;
}

.general-table-1sty{
    width: 100%;
    border-collapse: collapse;
}

.general-table-1sty th{
    border: 1px solid #e9eaec;
    padding: 6px;
    background: #f8f8f9 ;
}

.general-table-1sty td{
    border: 1px solid #e9eaec;
    padding: 4px;
    text-align: center;
}*/
