<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2018/9/26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
</head>
<body>
    <div id="appForm" class="general-edit-page-wrap" v-cloak>
        <spin size="large" fix v-if="isSubmitting"></spin>
        <i-form ref="formEntity" :model="formEntity" :rules="ruleValidate" :label-width="100">
            <form-item label="ddttParentId：">
                <row>
                    <i-col span="10">
                        <form-item>
                            <i-input v-model="formEntity.ddttParentId"></i-input>
                        </form-item>
                    </i-col>
                    <i-col span="4" style="text-align: center">ddttKey：</i-col>
                    <i-col span="10">
                        <form-item>
                            <i-input v-model="formEntity.ddttKey"></i-input>
                        </form-item>
                    </i-col>
                </row>
            </form-item>
            <form-item label="ddttName：" prop="ddttName">
                <row>
                    <i-col span="10">
                        <form-item prop="ddttName">
                            <i-input v-model="formEntity.ddttName"></i-input>
                        </form-item>
                    </i-col>
                    <i-col span="4" style="text-align: center">dictStatus：</i-col>
                    <i-col span="10">
                        <form-item>
                            <radio-group v-model="formEntity.ddttStatus">
                                <radio label="启用">启用</radio>
                                <radio label="禁用">禁用</radio>
                            </radio-group>
                        </form-item>
                    </i-col>
                </row>
            </form-item>
            <form-item label="值：" prop="ddttValue">
                <i-input v-model="formEntity.ddttValue"></i-input>
            </form-item>
            <form-item label="创建时间：">
                <date-picker type="date" placeholder="选择创建时间" v-model="formEntity.ddttCreatetime"></date-picker>
            </form-item>
            <form-item label="备注：">
                <i-input v-model="formEntity.ddttDesc" type="textarea" :autosize="{minRows: 7,maxRows: 7}"></i-input>
            </form-item>
        </i-form>
        <div class="button-outer-wrap">
            <div class="button-inner-wrap">
                <button-group>
                    <i-button type="primary" v-if="status!='view'" @click="handleSubmit('formEntity')" icon="md-checkmark">保存</i-button>
                    <i-button v-if="status!='view'" @click="handleClose()" icon="md-close">取消</i-button>
                </button-group>
            </div>
        </div>
    </div>
    <script>
        var appForm = new Vue({
            el:"#appForm",
            data: {
                isSubmitting:false,
                acInterface:{
                    getDataUrl:"/PlatFormRest/DevDemo/DevDemoTreeTable/GetDetailData",
                    saveDataUrl:"/PlatFormRest/DevDemo/DevDemoTreeTable/SaveEdit"
                },
                recordId:BaseUtility.GetUrlParaValue("recordId"),
                formEntity: {
                    ddttId: '',
                    ddttParentId:BaseUtility.GetUrlParaValue("parentId") ,
                    ddttKey: "",
                    ddttValue: "",
                    ddttName: "",
                    ddttDesc: "",
                    ddttStatus: "启用",
                    ddttCreatetime:DateUtility.GetCurrentData()
                },
                ruleValidate: {
                    ddttValue: [
                        { required: true, message: '【值】不能空！', trigger: 'blur' }
                    ],
                    ddttName: [
                        { required: true, message: '【字】不能空！', trigger: 'blur' }
                    ]
                },
                status: BaseUtility.GetUrlParaValue("op")
            },
            mounted:function () {
                this.bindFormData();
            },
            methods: {
                bindFormData:function(){
                    //获取数据并赋值
                    DetailPageUtility.BindFormData(this.acInterface.getDataUrl, this.formEntity, this.recordId, this.status);
                },
                handleSubmit: function (name) {
                    var _self=this;
                    this.$refs[name].validate(function (valid) {
                        if (valid) {
                            _self.isSubmitting=true;
                            var sendData=JSON.stringify(_self.formEntity);
                            AjaxUtility.PostRequestBody(_self.acInterface.saveDataUrl, sendData, function (result) {
                                DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},result.message,function () {
                                    if(result.success) {
                                        if (appForm.status == "add") {
                                            window.OpenerWindowObj.appList.newTreeTableNode(_self.formEntity);
                                        }
                                        else if (appForm.status == "update") {
                                            window.OpenerWindowObj.appList.updateTreeTableNode(_self.formEntity);
                                        }
                                    }
                                    DialogUtility.Frame_CloseDialog(window);
                                });
                            },"json");
                        } else {
                            this.$Message.error('Fail!');
                        }
                    })
                },
                handleReset: function (name) {
                    this.$refs[name].resetFields();
                }
            }
        });
    </script>
</body>
</html>