<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.files.FileInfoMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.files.FileInfoEntity">
        <constructor>
            <idArg column="FILE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="FILE_CREATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_SIZE" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="FILE_STORE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_STORE_PATH" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_STORE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_EXTENSION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_READTIME" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="FILE_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        FILE_ID, FILE_CREATE_TIME, FILE_CREATER, FILE_NAME, FILE_SIZE, FILE_STORE_TYPE, FILE_STORE_PATH,
        FILE_STORE_NAME, FILE_ORGAN_ID, FILE_ORGAN_NAME, FILE_EXTENSION, FILE_DESCRIPTION,
        FILE_READTIME, FILE_STATUS
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_FILE_INFO
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_FILE_INFO
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileInfoEntity">
        insert into TB4D_FILE_INFO (FILE_ID, FILE_CREATE_TIME, FILE_CREATER,
                                    FILE_NAME, FILE_SIZE, FILE_STORE_TYPE,
                                    FILE_STORE_PATH, FILE_STORE_NAME, FILE_ORGAN_ID,
                                    FILE_ORGAN_NAME, FILE_EXTENSION, FILE_DESCRIPTION,
                                    FILE_READTIME, FILE_STATUS)
        values (#{fileId,jdbcType=VARCHAR}, #{fileCreateTime,jdbcType=TIMESTAMP}, #{fileCreater,jdbcType=VARCHAR},
                #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, #{fileStoreType,jdbcType=VARCHAR},
                #{fileStorePath,jdbcType=VARCHAR}, #{fileStoreName,jdbcType=VARCHAR}, #{fileOrganId,jdbcType=VARCHAR},
                #{fileOrganName,jdbcType=VARCHAR}, #{fileExtension,jdbcType=VARCHAR}, #{fileDescription,jdbcType=VARCHAR},
                #{fileReadtime,jdbcType=INTEGER}, #{fileStatus,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileInfoEntity">
        insert into TB4D_FILE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                FILE_ID,
            </if>
            <if test="fileCreateTime != null">
                FILE_CREATE_TIME,
            </if>
            <if test="fileCreater != null">
                FILE_CREATER,
            </if>
            <if test="fileName != null">
                FILE_NAME,
            </if>
            <if test="fileSize != null">
                FILE_SIZE,
            </if>
            <if test="fileStoreType != null">
                FILE_STORE_TYPE,
            </if>
            <if test="fileStorePath != null">
                FILE_STORE_PATH,
            </if>
            <if test="fileStoreName != null">
                FILE_STORE_NAME,
            </if>
            <if test="fileOrganId != null">
                FILE_ORGAN_ID,
            </if>
            <if test="fileOrganName != null">
                FILE_ORGAN_NAME,
            </if>
            <if test="fileExtension != null">
                FILE_EXTENSION,
            </if>
            <if test="fileDescription != null">
                FILE_DESCRIPTION,
            </if>
            <if test="fileReadtime != null">
                FILE_READTIME,
            </if>
            <if test="fileStatus != null">
                FILE_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="fileCreateTime != null">
                #{fileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fileCreater != null">
                #{fileCreater,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="fileStoreType != null">
                #{fileStoreType,jdbcType=VARCHAR},
            </if>
            <if test="fileStorePath != null">
                #{fileStorePath,jdbcType=VARCHAR},
            </if>
            <if test="fileStoreName != null">
                #{fileStoreName,jdbcType=VARCHAR},
            </if>
            <if test="fileOrganId != null">
                #{fileOrganId,jdbcType=VARCHAR},
            </if>
            <if test="fileOrganName != null">
                #{fileOrganName,jdbcType=VARCHAR},
            </if>
            <if test="fileExtension != null">
                #{fileExtension,jdbcType=VARCHAR},
            </if>
            <if test="fileDescription != null">
                #{fileDescription,jdbcType=VARCHAR},
            </if>
            <if test="fileReadtime != null">
                #{fileReadtime,jdbcType=INTEGER},
            </if>
            <if test="fileStatus != null">
                #{fileStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileInfoEntity">
        update TB4D_FILE_INFO
        <set>
            <if test="fileCreateTime != null">
                FILE_CREATE_TIME = #{fileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fileCreater != null">
                FILE_CREATER = #{fileCreater,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                FILE_NAME = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                FILE_SIZE = #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="fileStoreType != null">
                FILE_STORE_TYPE = #{fileStoreType,jdbcType=VARCHAR},
            </if>
            <if test="fileStorePath != null">
                FILE_STORE_PATH = #{fileStorePath,jdbcType=VARCHAR},
            </if>
            <if test="fileStoreName != null">
                FILE_STORE_NAME = #{fileStoreName,jdbcType=VARCHAR},
            </if>
            <if test="fileOrganId != null">
                FILE_ORGAN_ID = #{fileOrganId,jdbcType=VARCHAR},
            </if>
            <if test="fileOrganName != null">
                FILE_ORGAN_NAME = #{fileOrganName,jdbcType=VARCHAR},
            </if>
            <if test="fileExtension != null">
                FILE_EXTENSION = #{fileExtension,jdbcType=VARCHAR},
            </if>
            <if test="fileDescription != null">
                FILE_DESCRIPTION = #{fileDescription,jdbcType=VARCHAR},
            </if>
            <if test="fileReadtime != null">
                FILE_READTIME = #{fileReadtime,jdbcType=INTEGER},
            </if>
            <if test="fileStatus != null">
                FILE_STATUS = #{fileStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileInfoEntity">
        update TB4D_FILE_INFO
        set FILE_CREATE_TIME = #{fileCreateTime,jdbcType=TIMESTAMP},
            FILE_CREATER = #{fileCreater,jdbcType=VARCHAR},
            FILE_NAME = #{fileName,jdbcType=VARCHAR},
            FILE_SIZE = #{fileSize,jdbcType=BIGINT},
            FILE_STORE_TYPE = #{fileStoreType,jdbcType=VARCHAR},
            FILE_STORE_PATH = #{fileStorePath,jdbcType=VARCHAR},
            FILE_STORE_NAME = #{fileStoreName,jdbcType=VARCHAR},
            FILE_ORGAN_ID = #{fileOrganId,jdbcType=VARCHAR},
            FILE_ORGAN_NAME = #{fileOrganName,jdbcType=VARCHAR},
            FILE_EXTENSION = #{fileExtension,jdbcType=VARCHAR},
            FILE_DESCRIPTION = #{fileDescription,jdbcType=VARCHAR},
            FILE_READTIME = #{fileReadtime,jdbcType=INTEGER},
            FILE_STATUS = #{fileStatus,jdbcType=VARCHAR}
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </update>
</mapper>