<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.files.FileContentMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        <constructor>
            <idArg column="FILE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        <constructor>
            <idArg column="FILE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="FILE_CONTENT" javaType="_byte[]" jdbcType="LONGVARBINARY" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        FILE_ID
    </sql>
    <sql id="Blob_Column_List">
        FILE_CONTENT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from TFS_FILE_CONTENT
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TFS_FILE_CONTENT
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        insert into TFS_FILE_CONTENT (FILE_ID, FILE_CONTENT)
        values (#{fileId,jdbcType=VARCHAR}, #{fileContent,jdbcType=LONGVARBINARY})
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        insert into TFS_FILE_CONTENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                FILE_ID,
            </if>
            <if test="fileContent != null">
                FILE_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="fileContent != null">
                #{fileContent,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        update TFS_FILE_CONTENT
        <set>
            <if test="fileContent != null">
                FILE_CONTENT = #{fileContent,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jbuild4d.base.dbaccess.dbentities.files.FileContentEntity">
        update TFS_FILE_CONTENT
        set FILE_CONTENT = #{fileContent,jdbcType=LONGVARBINARY}
        where FILE_ID = #{fileId,jdbcType=VARCHAR}
    </update>
</mapper>