<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表单设计</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::IViewLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::JQueryUILib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::FormDesignLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::CodeMirror"></th:block>
    <th:block th:replace="Fragment/GeneralLib::CodeMirrorHTML"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeExtendLib"></th:block>
</head>
<body>
<div id="appForm" class="general-edit-page-wrap" v-cloak>
    <div style="position: absolute;right: 10px;top: 10px;background-color: #00B83F">
        按钮
    </div>
    <tabs>
        <tab-pane label="表单信息">
            <div style="width: 1024px;margin: auto">
                <div style="float: left;width: 500px;height: 600px;border: #0B61A4 1px solid;border-radius: 4px;padding: 10px 20px 10px 10px;">
                    <divider orientation="left" :dashed="true" style="font-size: 12px">表单信息</divider>
                    <i-form :label-width="100">
                        <form-item label="表单名称：">
                            <i-input></i-input>
                        </form-item>
                        <form-item label="唯一名称：">
                            <i-input></i-input>
                        </form-item>
                        <form-item label="绑定主表标题：">
                            <i-input></i-input>
                        </form-item>
                        <form-item label="绑定主表名称：">
                            <i-input></i-input>
                        </form-item>
                        <form-item label="创建人：">
                            <row>
                                <i-col span="6">
                                    <i-input v-model="datasetEntity.dsCreater"></i-input>
                                </i-col>
                                <i-col span="8" style="text-align: center">创建时间：</i-col>
                                <i-col span="10">
                                    <form-item>
                                        <date-picker type="date" placeholder="选择创建时间" v-model="datasetEntity.dsCreateTime" disabled
                                                     readonly style="width: 100%"></date-picker>
                                    </form-item>
                                </i-col>
                            </row>
                        </form-item>
                        <form-item label="修改人：">
                            <row>
                                <i-col span="6">
                                    <i-input v-model="datasetEntity.dsUpdater"></i-input>
                                </i-col>
                                <i-col span="8" style="text-align: center">修改时间：</i-col>
                                <i-col span="10">
                                    <form-item>
                                        <date-picker type="date" placeholder="选择创建时间" v-model="datasetEntity.dsUpdateTime" disabled
                                                     readonly style="width: 100%"></date-picker>
                                    </form-item>
                                </i-col>
                            </row>
                        </form-item>
                    </i-form>
                </div>
                <div style="float: right;width: 500px;height: 600px;border: #0B61A4 1px solid;border-radius: 4px;padding: 10px">
                    <divider orientation="left" :dashed="true" style="font-size: 12px">绑定主表</divider>
                    <input type="text" id="txtSearchTableTree" style="width: 100%;height: 32px;margin-top: 2px" />
                    <ul id="tableZTreeUL" class="ztree"></ul>
                </div>
            </div>
        </tab-pane>
        <tab-pane label="表单设计">
            <div class="form-design-wraper">
                <div class="left-wraper">
                    <textarea name="html_design" id="html_design">
                    </textarea>
                </div>
                <div class="right-wraper"></div>
            </div>
        </tab-pane>
        <tab-pane label="HTML">
            <div class="html-design-wraper">
                <div class="left-wraper">
                    <textarea id="TextAreaHTMLEditor" style="height: 99%"><html style="color: green">
  <!-- this is a comment -->
  <head>
    <title>Mixed HTML Example</title>
    <style>
      h1 {font-family: comic sans; color: #f0f;}
      div {background: yellow !important;}
      body {
          max-width: 50em;
          margin: 1em 2em 1em 5em;
      }
    </style>
  </head>
  <body>
    <h1>Mixed HTML Example</h1>
    <script>
      function jsFunc(arg1, arg2) {
          if (arg1 && arg2) document.body.innerHTML = "achoo";
      }
    </script>
  </body>
</html>
                    </textarea>
                </div>
                <div class="right-wraper"></div>
            </div>
        </tab-pane>
        <tab-pane label="JS">
            <div class="js-design-wraper">
                <div class="left-wraper">
                    <textarea id="TextAreaJsEidtor"></textarea>
                </div>
                <div class="right-wraper"></div>
            </div>
        </tab-pane>
    </tabs>
</div>
<script>
    var appForm = new Vue({
        el:"#appForm",
        data: {
            acInterface:{
                getTablesDataUrl:"/PlatForm/Builder/DataStorage/DataBase/Table/GetTablesForZTreeNodeList.do"
            },
            tree:{
                tableTreeObj:null,
                tableTreeSetting:{
                    view: {
                        dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
                        showLine: true,//是否显示节点之间的连线
                        fontCss: {'color': 'black', 'font-weight': 'normal'}
                    },
                    check: {
                        enable: true,
                        nocheckInherit: false,
                        chkStyle: "radio",
                        radioType: "all"
                    },
                    data: {
                        key: {
                            name: "text"
                        },
                        simpleData: {//简单数据模式
                            enable: true,
                            idKey: "id",
                            pIdKey: "parentId",
                            rootPId: "-1"// 1
                        }
                    },
                    callback: {
                        //点击树节点事件
                        onClick: function (event, treeId, treeNode) {
                            //treeNode.checked=true;
                            if(treeNode.nodeTypeName=="Table") {
                                appForm.tree.tableTreeObj.checkNode(treeNode, true, true);
                            }
                            else{
                                alert("选中分组");
                            }
                            //sqlDesignerForm.getTableFields(treeNode);
                            //sqlDesignerForm.tree.selectedTableName=treeNode.value;
                        },
                        onDblClick: function (event, treeId, treeNode) {

                        },
                        //成功的回调函数
                        onAsyncSuccess: function (event, treeId, treeNode, msg) {

                        }
                    }
                },
                tableTreeData:null,//${tableTreeData},
                selectedTableName:"无"
            }
        },
        mounted:function () {
            $(".form-design-wraper").height(PageStyleUtility.GetWindowHeight()-60);
            FormDesignUtility.InitializeCKEditor(function () {

            });
            FormDesignUtility.InitializeCodeDesign();
            this.bindTableTree();
        },
        methods: {
            bindTableTree:function () {
                var _self=this;
                AjaxUtility.Post(this.acInterface.getTablesDataUrl,{},function (result) {
                    if(result.success) {
                        _self.tree.tableTreeData=result.data;
                        //console.log(_self.tree.tableTreeData);
                        _self.tree.tableTreeObj=$.fn.zTree.init($("#tableZTreeUL"), _self.tree.tableTreeSetting,_self.tree.tableTreeData);
                        _self.tree.tableTreeObj.expandAll(true);
                        fuzzySearch("tableZTreeUL","#txtSearchTableTree",null,true);
                    }
                    else {
                        DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, null);
                    }
                },"json");
            }
        }
    });
</script>
</body>
</html>