<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.systemsetting.CacheMapper">
    <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.systemsetting.CacheEntity">
        <constructor>
            <idArg column="CACHE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="CACHE_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_IS_GLOBAL" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_MODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="CACHE_VERSION" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        CACHE_ID, CACHE_NAME, CACHE_DESC, CACHE_ORDER_NUM, CACHE_STATUS, CACHE_IS_GLOBAL,
        CACHE_USER_ID, CACHE_MODE, CACHE_VERSION
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TB4D_CACHE
        where CACHE_ID = #{cacheId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TB4D_CACHE
        where CACHE_ID = #{cacheId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.CacheEntity">
        insert into TB4D_CACHE (CACHE_ID, CACHE_NAME, CACHE_DESC,
                                CACHE_ORDER_NUM, CACHE_STATUS, CACHE_IS_GLOBAL,
                                CACHE_USER_ID, CACHE_MODE, CACHE_VERSION
                )
        values (#{cacheId,jdbcType=VARCHAR}, #{cacheName,jdbcType=VARCHAR}, #{cacheDesc,jdbcType=VARCHAR},
                #{cacheOrderNum,jdbcType=INTEGER}, #{cacheStatus,jdbcType=VARCHAR}, #{cacheIsGlobal,jdbcType=VARCHAR},
                #{cacheUserId,jdbcType=VARCHAR}, #{cacheMode,jdbcType=VARCHAR}, #{cacheVersion,jdbcType=INTEGER}
                       )
    </insert>
    <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.CacheEntity">
        insert into TB4D_CACHE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cacheId != null">
                CACHE_ID,
            </if>
            <if test="cacheName != null">
                CACHE_NAME,
            </if>
            <if test="cacheDesc != null">
                CACHE_DESC,
            </if>
            <if test="cacheOrderNum != null">
                CACHE_ORDER_NUM,
            </if>
            <if test="cacheStatus != null">
                CACHE_STATUS,
            </if>
            <if test="cacheIsGlobal != null">
                CACHE_IS_GLOBAL,
            </if>
            <if test="cacheUserId != null">
                CACHE_USER_ID,
            </if>
            <if test="cacheMode != null">
                CACHE_MODE,
            </if>
            <if test="cacheVersion != null">
                CACHE_VERSION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cacheId != null">
                #{cacheId,jdbcType=VARCHAR},
            </if>
            <if test="cacheName != null">
                #{cacheName,jdbcType=VARCHAR},
            </if>
            <if test="cacheDesc != null">
                #{cacheDesc,jdbcType=VARCHAR},
            </if>
            <if test="cacheOrderNum != null">
                #{cacheOrderNum,jdbcType=INTEGER},
            </if>
            <if test="cacheStatus != null">
                #{cacheStatus,jdbcType=VARCHAR},
            </if>
            <if test="cacheIsGlobal != null">
                #{cacheIsGlobal,jdbcType=VARCHAR},
            </if>
            <if test="cacheUserId != null">
                #{cacheUserId,jdbcType=VARCHAR},
            </if>
            <if test="cacheMode != null">
                #{cacheMode,jdbcType=VARCHAR},
            </if>
            <if test="cacheVersion != null">
                #{cacheVersion,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.CacheEntity">
        update TB4D_CACHE
        <set>
            <if test="cacheName != null">
                CACHE_NAME = #{cacheName,jdbcType=VARCHAR},
            </if>
            <if test="cacheDesc != null">
                CACHE_DESC = #{cacheDesc,jdbcType=VARCHAR},
            </if>
            <if test="cacheOrderNum != null">
                CACHE_ORDER_NUM = #{cacheOrderNum,jdbcType=INTEGER},
            </if>
            <if test="cacheStatus != null">
                CACHE_STATUS = #{cacheStatus,jdbcType=VARCHAR},
            </if>
            <if test="cacheIsGlobal != null">
                CACHE_IS_GLOBAL = #{cacheIsGlobal,jdbcType=VARCHAR},
            </if>
            <if test="cacheUserId != null">
                CACHE_USER_ID = #{cacheUserId,jdbcType=VARCHAR},
            </if>
            <if test="cacheMode != null">
                CACHE_MODE = #{cacheMode,jdbcType=VARCHAR},
            </if>
            <if test="cacheVersion != null">
                CACHE_VERSION = #{cacheVersion,jdbcType=INTEGER},
            </if>
        </set>
        where CACHE_ID = #{cacheId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.CacheEntity">
        update TB4D_CACHE
        set CACHE_NAME = #{cacheName,jdbcType=VARCHAR},
            CACHE_DESC = #{cacheDesc,jdbcType=VARCHAR},
            CACHE_ORDER_NUM = #{cacheOrderNum,jdbcType=INTEGER},
            CACHE_STATUS = #{cacheStatus,jdbcType=VARCHAR},
            CACHE_IS_GLOBAL = #{cacheIsGlobal,jdbcType=VARCHAR},
            CACHE_USER_ID = #{cacheUserId,jdbcType=VARCHAR},
            CACHE_MODE = #{cacheMode,jdbcType=VARCHAR},
            CACHE_VERSION = #{cacheVersion,jdbcType=INTEGER}
        where CACHE_ID = #{cacheId,jdbcType=VARCHAR}
    </update>
</mapper>