<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.systemsetting.DictionaryGroupMapper">
  <resultMap id="BaseResultMap" type="com.jbuild4d.base.dbaccess.dbentities.systemsetting.DictionaryGroupEntity">
    <constructor>
      <idArg column="DICT_GROUP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="DICT_GROUP_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DICT_GROUP_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_PARENT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_ISSYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_DEL_ENABLE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DICT_GROUP_ENP_ITEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    DICT_GROUP_ID, DICT_GROUP_VALUE, DICT_GROUP_TEXT, DICT_GROUP_ORDER_NUM, DICT_GROUP_CREATE_TIME, 
    DICT_GROUP_DESC, DICT_GROUP_STATUS, DICT_GROUP_PARENT_ID, DICT_GROUP_ISSYSTEM, DICT_GROUP_DEL_ENABLE, 
    DICT_GROUP_ENP_ITEM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TSYS_DICTIONARY_GROUP
    where DICT_GROUP_ID = #{dictGroupId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSYS_DICTIONARY_GROUP
    where DICT_GROUP_ID = #{dictGroupId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.DictionaryGroupEntity">
    insert into TSYS_DICTIONARY_GROUP (DICT_GROUP_ID, DICT_GROUP_VALUE, DICT_GROUP_TEXT,
      DICT_GROUP_ORDER_NUM, DICT_GROUP_CREATE_TIME, 
      DICT_GROUP_DESC, DICT_GROUP_STATUS, DICT_GROUP_PARENT_ID, 
      DICT_GROUP_ISSYSTEM, DICT_GROUP_DEL_ENABLE, 
      DICT_GROUP_ENP_ITEM)
    values (#{dictGroupId,jdbcType=NVARCHAR}, #{dictGroupValue,jdbcType=NVARCHAR}, #{dictGroupText,jdbcType=NVARCHAR}, 
      #{dictGroupOrderNum,jdbcType=INTEGER}, #{dictGroupCreateTime,jdbcType=TIMESTAMP}, 
      #{dictGroupDesc,jdbcType=NVARCHAR}, #{dictGroupStatus,jdbcType=NVARCHAR}, #{dictGroupParentId,jdbcType=NVARCHAR}, 
      #{dictGroupIssystem,jdbcType=NVARCHAR}, #{dictGroupDelEnable,jdbcType=NVARCHAR}, 
      #{dictGroupEnpItem,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.DictionaryGroupEntity">
    insert into TSYS_DICTIONARY_GROUP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictGroupId != null">
        DICT_GROUP_ID,
      </if>
      <if test="dictGroupValue != null">
        DICT_GROUP_VALUE,
      </if>
      <if test="dictGroupText != null">
        DICT_GROUP_TEXT,
      </if>
      <if test="dictGroupOrderNum != null">
        DICT_GROUP_ORDER_NUM,
      </if>
      <if test="dictGroupCreateTime != null">
        DICT_GROUP_CREATE_TIME,
      </if>
      <if test="dictGroupDesc != null">
        DICT_GROUP_DESC,
      </if>
      <if test="dictGroupStatus != null">
        DICT_GROUP_STATUS,
      </if>
      <if test="dictGroupParentId != null">
        DICT_GROUP_PARENT_ID,
      </if>
      <if test="dictGroupIssystem != null">
        DICT_GROUP_ISSYSTEM,
      </if>
      <if test="dictGroupDelEnable != null">
        DICT_GROUP_DEL_ENABLE,
      </if>
      <if test="dictGroupEnpItem != null">
        DICT_GROUP_ENP_ITEM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictGroupId != null">
        #{dictGroupId,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupValue != null">
        #{dictGroupValue,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupText != null">
        #{dictGroupText,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupOrderNum != null">
        #{dictGroupOrderNum,jdbcType=INTEGER},
      </if>
      <if test="dictGroupCreateTime != null">
        #{dictGroupCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dictGroupDesc != null">
        #{dictGroupDesc,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupStatus != null">
        #{dictGroupStatus,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupParentId != null">
        #{dictGroupParentId,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupIssystem != null">
        #{dictGroupIssystem,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupDelEnable != null">
        #{dictGroupDelEnable,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupEnpItem != null">
        #{dictGroupEnpItem,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.DictionaryGroupEntity">
    update TSYS_DICTIONARY_GROUP
    <set>
      <if test="dictGroupValue != null">
        DICT_GROUP_VALUE = #{dictGroupValue,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupText != null">
        DICT_GROUP_TEXT = #{dictGroupText,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupOrderNum != null">
        DICT_GROUP_ORDER_NUM = #{dictGroupOrderNum,jdbcType=INTEGER},
      </if>
      <if test="dictGroupCreateTime != null">
        DICT_GROUP_CREATE_TIME = #{dictGroupCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dictGroupDesc != null">
        DICT_GROUP_DESC = #{dictGroupDesc,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupStatus != null">
        DICT_GROUP_STATUS = #{dictGroupStatus,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupParentId != null">
        DICT_GROUP_PARENT_ID = #{dictGroupParentId,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupIssystem != null">
        DICT_GROUP_ISSYSTEM = #{dictGroupIssystem,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupDelEnable != null">
        DICT_GROUP_DEL_ENABLE = #{dictGroupDelEnable,jdbcType=NVARCHAR},
      </if>
      <if test="dictGroupEnpItem != null">
        DICT_GROUP_ENP_ITEM = #{dictGroupEnpItem,jdbcType=NVARCHAR},
      </if>
    </set>
    where DICT_GROUP_ID = #{dictGroupId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbuild4d.base.dbaccess.dbentities.systemsetting.DictionaryGroupEntity">
    update TSYS_DICTIONARY_GROUP
    set DICT_GROUP_VALUE = #{dictGroupValue,jdbcType=NVARCHAR},
      DICT_GROUP_TEXT = #{dictGroupText,jdbcType=NVARCHAR},
      DICT_GROUP_ORDER_NUM = #{dictGroupOrderNum,jdbcType=INTEGER},
      DICT_GROUP_CREATE_TIME = #{dictGroupCreateTime,jdbcType=TIMESTAMP},
      DICT_GROUP_DESC = #{dictGroupDesc,jdbcType=NVARCHAR},
      DICT_GROUP_STATUS = #{dictGroupStatus,jdbcType=NVARCHAR},
      DICT_GROUP_PARENT_ID = #{dictGroupParentId,jdbcType=NVARCHAR},
      DICT_GROUP_ISSYSTEM = #{dictGroupIssystem,jdbcType=NVARCHAR},
      DICT_GROUP_DEL_ENABLE = #{dictGroupDelEnable,jdbcType=NVARCHAR},
      DICT_GROUP_ENP_ITEM = #{dictGroupEnpItem,jdbcType=NVARCHAR}
    where DICT_GROUP_ID = #{dictGroupId,jdbcType=NVARCHAR}
  </update>
</mapper>