<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbuild4d.base.dbaccess.dao.systemsetting.Jb4dCacheMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSYS_JB4D_CACHE ORDER by CACHE_ORDER_NUM DESC</select>
    <delete id="deleteAll">delete from TSYS_JB4D_CACHE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(CACHE_ORDER_NUM) is null then 1 else max(CACHE_ORDER_NUM)+1 end ORDERNUM from TSYS_JB4D_CACHE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSYS_JB4D_CACHE<where>
        <if test="cacheKey !=null and cacheKey !=''"> and CACHE_KEY like #{cacheKey} </if>
        <if test="cacheName !=null and cacheName !=''"> and CACHE_NAME like #{cacheName} </if>
        <if test="cacheDesc !=null and cacheDesc !=''"> and CACHE_DESC like #{cacheDesc} </if>
        <if test="cacheStatus !=null and cacheStatus !=''"> and CACHE_STATUS like #{cacheStatus} </if>
        <if test="cacheIsGlobal !=null and cacheIsGlobal !=''"> and CACHE_IS_GLOBAL like #{cacheIsGlobal} </if>
        <if test="cacheUserId !=null and cacheUserId !=''"> and CACHE_USER_ID like #{cacheUserId} </if>
        <if test="cacheMode !=null and cacheMode !=''"> and CACHE_MODE like #{cacheMode} </if>
    </where>ORDER by CACHE_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSYS_JB4D_CACHE
                                                                                                          where CACHE_ORDER_NUM = (select max(CACHE_ORDER_NUM) from TSYS_JB4D_CACHE where CACHE_ORDER_NUM<(select CACHE_ORDER_NUM from TSYS_JB4D_CACHE where CACHE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TSYS_JB4D_CACHE
                                                                                                             where CACHE_ORDER_NUM = (select min(CACHE_ORDER_NUM) from TSYS_JB4D_CACHE where CACHE_ORDER_NUM>(select CACHE_ORDER_NUM from TSYS_JB4D_CACHE where CACHE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
