<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <style>

    </style>
</head>
<body>
    <div id="appForm" class="apps-manager-outer-wrap">
        <div class="apps-outer-wrap">
            <div v-for="item in items" class="app-outer-wrap">
                <div class="title">
                    <span>深圳市明天不知道干什么可能会下雨科技有限股份未明公司</span>
                </div>
                <div class="content">
                    <div class="mainImg">
                        <img src="../../../Themes/Default/Css/Images/DefaultModel.png" />
                    </div>
                    <div class="button">
                        系统设置
                    </div>
                </div>
            </div>
            <div class="app-outer-wrap new-system-outer-wrap">
                <div class="add-system-button">添加集成系统</div>
                <div class="add-system-button">添加模拟系统</div>
            </div>
        </div>
    </div>
    <script>
        var appForm = new Vue({
            el:"#appForm",
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' },
                    { message: 'Foo' },
                    { message: 'Bar' },
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            },
            mounted:function () {

            },
            methods: {

            }
        })
    </script>
</body>
</html>