.general-edit-page-wrap{
    .button-outer-wrap{
        height: 30px;

        .button-inner-wrap{
            float: right;
        }
    }
}

.general-edit-page-bottom-wrap{
    text-align: center;
}

.general-edit-page-bottom-wrap div{
    margin-left: 0px !important;
}

.general-edit-page-scroll{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 40px;
    overflow-x: hidden;
    overflow-y:scroll;
}

.general-edit-page-scroll::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.general-edit-page-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3b97ed;
}

.general-edit-page-scroll-button-warp{
    position: absolute;bottom: 0px;width: 100%;text-align: center
}

.light-gray-table {
    margin: 5px 0;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

.light-gray-table .title{
    color:#2e6e9e;
    text-align: center;
    font-size: 16px;
}

.light-gray-table tr {
}
.light-gray-table tr td, .light-gray-table tr th{
    padding: 6px;
    border: 1px solid #f0f0f0;
}

.light-gray-table tr th{
    color:#2e6e9e;
    background-color: #f0f4fa;
}
.light-gray-table .label {
    background-color: #f7f7f7;
    text-align: right;
}

.light-gray-table tr td input[type="text"], textarea, select {
    background: transparent;
    border: 1px solid #d3d7e0;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    overflow: auto;
    font-size: 12px;
}


.json-pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.json-string { color: green; }
.json-number { color: darkorange; }
.json-boolean { color: blue; }
.json-null { color: magenta; }
.json-key { color: red; }

.js-code-fragment-wrap{

}

.js-code-fragment-wrap .js-code-fragment-item{
    float: left;
    width: 45%;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.js-code-fragment-wrap .js-code-fragment-item:hover{
    background-color: #f0f4fa;
}

.design-html-elem-list-wrap{

}