.general-edit-page-wrap{
    margin-top: 10px;

    .button-outer-wrap{
        height: 34px;
        border-top: solid 1px #f0f0f0;
        margin-top: 8px;
        padding-top: 8px;
        position: absolute;
        bottom: 8px;
        right: 0px;
        width: 100%;

        .button-inner-wrap{
            float: right;
        }
    }
}