<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="GeneralLib" th:with="urlts=${'V1'}" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script type="text/javascript" th:src="@{/Js/JQuery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/Js/JBuild4DBaseLib.js(urlts=${urlts})}"></script>
    <script type="text/javascript" th:src="@{/Js/JBuild4DSelectViewLib.js(urlts=${urlts})}"></script>
    <script type="text/javascript" th:src="@{/Js/VUE-2.5.16/vue.js}"></script>
    <script type="text/javascript" th:src="@{/Js/axios.js}"></script>
</th:block>
<th:block th:fragment="IViewLib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/IView-3.X/dist/iview.js}"></script>
</th:block>
<th:block th:fragment="JQueryUILib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/JQuery-UI-1.12.1/jquery-ui.js}"></script>
</th:block>
<th:block th:fragment="ZTreeLib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/ZTree-V3/js/jquery.ztree.all.js}"></script>
</th:block>
<th:block th:fragment="ZTreeExtendLib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/ZTree-V3/js/jquery.ztree.exhide.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/ZTree-V3/js/fuzzysearch.js}"></script>
</th:block>
<th:block th:fragment="TreeTableLib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/TreeTable/Js/TreeTable.js}"></script>
</th:block>
<th:block th:fragment="EditTableLib" th:with="urlts=${'V1'}" >
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/EditTable.js}"></script>

    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_CheckBox.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_Label.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_Radio.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_Select.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_SelectRowCheckBox.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/EditTable_TextBox.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/TableDesign/EditTable_SelectDefaultValue.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/TableDesign/EditTable_FieldName.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/TableDesign/EditTable_SelectFieldType.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/EditTable/Js/Renderers/DataSet/Column_SelectDefaultValue.js}"></script>
</th:block>
<th:block th:fragment="CodeMirrorSQL" th:with="urlts=${'V1'}" >
    <link rel="stylesheet" th:href="@{/UIComponent/CodeMirror-5.39.2/lib/codemirror.css}" />
    <link rel="stylesheet" th:href="@{/UIComponent/CodeMirror-5.39.2/theme/monokai.css}" />
    <script type="text/javascript" th:src="@{/UIComponent/CodeMirror-5.39.2/lib/codemirror.js}"></script>
    <script type="text/javascript" th:src="@{/UIComponent/CodeMirror-5.39.2/mode/sql/sql.js}"></script>
</th:block>
<th:block th:fragment="ThemesLib" th:with="theme=${'Themes/Default'},urlts=${'V1'}" >
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/FrameStyle.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/ListPageStyle.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/DetailPageStyle.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/LeftMenus.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/IView-3.X/iview.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/JQueryUI/jquery-ui.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/TreeTable/TreeTable.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/ZTree/zTreeStyle/zTreeStyle.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/EditTable/EditTable.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/GeneralHTMLElem.css(theme=${theme},urlts=${urlts})}" />
</th:block>