<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2019/4/27
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
</head>
<body>
<div id="appList" class="iv-list-page-wrap">
    <div id="list-button-wrap" class="list-button-outer-wrap">
        <div class="list-button-inner-wrap">
            <button-group>
                <i-button type="success" @click="add()" icon="md-add">
                    新增
                </i-button>
                <i-button type="primary" @click="statusEnable('启用')" icon="md-checkmark-circle">
                    启用
                </i-button>
                <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle">
                    禁用
                </i-button>
                <i-button type="primary" @click="move('up')" icon="md-arrow-up">
                    上移
                </i-button>
                <i-button type="primary" @click="move('down')" icon="md-arrow-down">
                    下移
                </i-button>
            </button-group>
        </div>
        <div style="clear: both"></div>
    </div>
    <i-table :height="listHeight" stripe border :columns="columnsConfig" :data="tableData"
             class="iv-list-table" :highlight-row="true"
             @on-selection-change="selectionChange"></i-table>
    <div style="float: right;" id="list-pager-wrap">
        <page @on-change="changePage" :current.sync="pageNum" :page-size="pageSize" show-total
              :total="pageTotal"></page>
    </div>
</div>
<script>
    var appList = new Vue({
        el: "#appList",
        mounted: function () {
            this.reloadData();
            window.setTimeout(function () {
                appList.listHeight=ListPageUtility.GetGeneralPageHeight(0);
            },500);
        },
        data: {
            acInterface:{
                editView: "/HTML/Builder/DataStorage/DBLink/DBLinkEdit.html",
                reloadData:"/PlatFormRest/Builder/DataStorage/DBLink/GetListData",
                delete:"/PlatFormRest/Builder/DataStorage/DBLink/Delete",
                statusChange:"/PlatFormRest/Builder/DataStorage/DBLink/StatusChange",
                move:"/PlatFormRest/Builder/DataStorage/DBLink/Move"
            },
            idFieldName:"ddglId",
            columnsConfig: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: '连接名称',
                    key: 'dbLinkName',
                    align: "center"
                }, {
                    title: '数据库类型',
                    key: 'dbType',
                    align: "center"
                }, {
                    title: '数据库名称',
                    key: 'dbDatabaseName'
                }, {
                    title: '用户名',
                    key: 'dbUser'
                }, {
                    title: '密码',
                    key: 'dbPassword'
                }, {
                    title: '状态',
                    width: 100,
                    align: "center",
                    key: 'dbStatus'
                }, {
                    title: '创建时间',
                    key: 'dbCreateTime',
                    width: 100,
                    align: "center",
                    render: function (h, params) {
                        return ListPageUtility.IViewTableRenderer.ToDateYYYY_MM_DD(h, params.row.dbCreateTime);
                    }
                }, {
                    title: '操作',
                    key: 'dbId',
                    width: 120,
                    align: "center",
                    render: function (h, params) {
                        return h('div',{class: "list-row-button-wrap"},[
                            ListPageUtility.IViewTableInnerButton.ViewButton(h,params,appList.idFieldName,appList),
                            ListPageUtility.IViewTableInnerButton.EditButton(h,params,appList.idFieldName,appList),
                            ListPageUtility.IViewTableInnerButton.DeleteButton(h,params,appList.idFieldName,appList)
                        ]);
                    }
                }
            ],
            tableData: [],
            selectionRows: null,
            pageTotal: 0,
            pageSize: 12,
            pageNum: 1,
            listHeight: ListPageUtility.DefaultListHeight()
        },
        methods: {
            selectionChange: function (selection) {
                this.selectionRows = selection;
            },
            reloadData: function () {
                ListPageUtility.IViewTableLoadDataSearch(this.acInterface.reloadData,this.pageNum,this.pageSize,this.searchCondition,this,this.idFieldName,true,null);
            },
            add: function () {
                var url = BaseUtility.BuildView(this.acInterface.editView, {"op": "add"});
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "通用列表"}, 2);
            },
            edit: function (recordId) {
                var url = BaseUtility.BuildView(this.acInterface.editView, {
                    "op": "update",
                    "recordId": recordId
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "通用列表"}, 2);
            },
            view:function (recordId) {
                var url = BaseUtility.BuildView(this.acInterface.editView, {
                    "op": "view",
                    "recordId": recordId
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "通用列表"}, 2);
            },
            del: function (recordId) {
                ListPageUtility.IViewTableDeleteRow(this.acInterface.delete,recordId,appList);
            },
            statusEnable: function (statusName) {
                ListPageUtility.IViewChangeServerStatusFace(this.acInterface.statusChange,this.selectionRows,appList.idFieldName,statusName,appList);
            },
            move:function (type) {
                ListPageUtility.IViewMoveFace(this.acInterface.move,this.selectionRows,appList.idFieldName,type,appList);
            },
            changePage: function (pageNum) {
                this.pageNum = pageNum;
                this.reloadData();
                this.selectionRows=null;
            },
            search:function () {
                this.pageNum=1;
                this.reloadData();
            }
        }
    });
</script>
</body>
</html>