<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
</head>
<body>
<div id="appForm" class="general-edit-page-wrap" v-cloak>
    <div style="width: 80%;float: left">
        <i-form ref="formEntity" :model="formEntity" :rules="ruleValidate" :label-width="100">
            <form-item label="用户名：" prop="userEntity.userName">
                <row>
                    <i-col span="10">
                        <form-item prop="userEntity.userName">
                            <i-input v-model="formEntity.userEntity.userName"></i-input>
                        </form-item>
                    </i-col>
                    <i-col span="4" style="text-align: center"><span style="color: red">*</span> 账号：</i-col>
                    <i-col span="10">
                        <form-item prop="userEntity.userAccount">
                            <i-input v-model="formEntity.userEntity.userAccount"></i-input>
                        </form-item>
                    </i-col>
                </row>
            </form-item>
            <form-item label="邮件地址：">
                <row>
                    <i-col span="10">
                        <i-input v-model="formEntity.userEntity.userEmail"></i-input>
                    </i-col>
                    <i-col span="4" style="text-align: center">手机号码：</i-col>
                    <i-col span="10">
                        <i-input v-model="formEntity.userEntity.userPhoneNumber"></i-input>
                    </i-col>
                </row>
            </form-item>
            <form-item label="所属部门：">
                <row>
                    <i-col span="10">
                        <i-input v-model="formEntity.departmentEntity.deptName" disabled></i-input>
                    </i-col>
                    <i-col span="4" style="text-align: center">所属组织：</i-col>
                    <i-col span="10">
                        <i-input v-model="formEntity.organEntity.organName" disabled></i-input>
                    </i-col>
                </row>
            </form-item>
            <form-item label="职位：">
                <row>
                    <i-col span="10">
                        <i-input v-model="formEntity.departmentUserEntity.duTitle"></i-input>
                    </i-col>
                    <i-col span="4" style="text-align: center">状态：</i-col>
                    <i-col span="10">
                        <radio-group v-model="formEntity.userEntity.userStatus" type="button">
                            <radio label="启用">启用</radio>
                            <radio label="禁用">禁用</radio>
                        </radio-group>
                    </i-col>
                </row>
            </form-item>
            <form-item label="备注：">
                <i-input v-model="formEntity.departmentUserEntity.duDesc" type="textarea" :autosize="{minRows: 11,maxRows: 11}"></i-input>
            </form-item>
        </i-form>
    </div>
    <div style="width: 19%;float: right">
        <div style="border-radius: 8px;text-align: center;margin-top: 20px;margin-bottom: 30px">
            <img :src="userHeadImageSrc" style="width: 110px;height: 120px" />
        </div>
        <upload style="margin:10px 12px 0 20px" :on-success="uploadUserHeadImageSuccess" multiple type="drag" name="file" action="../../../PlatFormRest/SSO/DepartmentUser/UploadUserHeadIMG.do" accept=".png">
            <div style="padding:10px 0px">
                <icon type="ios-cloud-upload" size="52" style="color: #3399ff"></icon>
                <p>上传用户头像</p>
            </div>
        </upload>
    </div>
    <div class="button-outer-wrap">
        <div class="button-inner-wrap">
            <button-group>
                <i-button type="primary" v-if="status!='view'" @click="handleSubmit('formEntity')" icon="md-checkmark">保存</i-button>
                <i-button v-if="status!='view'" @click="handleClose()" icon="md-close">取消</i-button>
            </button-group>
        </div>
    </div>
</div>
<script>
    var appForm =new Vue({
        el: "#appForm",
        mounted:function () {
            if(this.formEntity.ddtlGroupId==""&&this.status=="add"){
                DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, "分组ID不能为空!",null);
            }
            else {
                this.bindFormData();
            }
        },
        data: {
            acInterface:{
                getEmptyDataUrl:"/PlatFormRest/SSO/DepartmentUser/GetEmptyNewVo",
                getDataUrl:"/PlatFormRest/SSO/DepartmentUser/GetVo",
                saveDataUrl:"/PlatFormRest/SSO/DepartmentUser/SaveEdit",
                userHeadUrl:"/PlatFormRest/SSO/DepartmentUser/GetUserHeadIMG"
            },
            recordId:BaseUtility.GetUrlParaValue("recordId"),
            formEntity: {
                departmentUserEntity:{
                    duId:"",
                    duDeptId:"",
                    duUserId:"",
                    duIsMain:"",
                    duTitle:"",
                    duDesc:"",
                    duCreateTime:DateUtility.GetCurrentData(),
                    duCreateUserId:"",
                    duStatus:"启用",
                    duOrderNum:""
                },
                userEntity:{
                    userId:"",
                    userName:"",
                    userAccount:"",
                    userPassword:"",
                    userEmail:"",
                    userPhoneNumber:"",
                    userHeadId:"",
                    userOrganId:"",
                    userDesc:"",
                    userCreateTime:DateUtility.GetCurrentData(),
                    userCreateUserId:"",
                    userStatus:"启用",
                    userOrderNum:""
                },
                organEntity:{

                },
                departmentEntity:{

                }
            },
            ruleValidate: {
                'userEntity.userName': [
                    {required: true, message: '【用户名】不能空！', trigger: 'blur'}
                ],
                'userEntity.userAccount': [
                    {required: true, message: '【账号】不能空！', trigger: 'blur'}
                ]
            },
            status: BaseUtility.GetUrlParaValue("op"),
            userHeadImageSrc:""
        },
        methods: {
            bindFormData:function(){
                var _self=this;
                if(this.status=="add") {
                    this.userHeadImageSrc = BaseUtility.BuildAction(this.acInterface.userHeadUrl, {fileId: "defaultUserHeadImage"});
                    var departmentId=BaseUtility.GetUrlParaValue("departmentId")
                    AjaxUtility.Post(this.acInterface.getEmptyDataUrl,{"departmentId":departmentId},function (result) {
                        console.log(result);
                        if(result.success){
                            _self.formEntity=result.data;
                        }
                    },"json");
                    //alert(departmentId);
                }
                else {
                    this.userHeadImageSrc = BaseUtility.BuildAction(this.acInterface.userHeadUrl, {fileId: this.formEntity.userEntity.userHeadId});
                    AjaxUtility.Post(this.acInterface.getDataUrl,{"recordId":this.recordId},function (result) {
                        console.log(result);
                        if(result.success){
                            _self.formEntity=result.data;
                        }
                    },"json");
                }
            },
            handleSubmit: function (name) {
                var _self = this;
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        var sendData = JSON.stringify(_self.formEntity);
                        AjaxUtility.PostRequestBody(_self.acInterface.saveDataUrl, sendData, function (result) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                //debugger;
                                window.OpenerWindowObj.appList.reloadData();
                                DialogUtility.Frame_CloseDialog(window);
                            });
                        }, "json");
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleClose: function (name) {
                DialogUtility.Frame_CloseDialog(window);
            },
            uploadUserHeadImageSuccess:function (response, file, fileList) {
                var data = response.data;
                this.formEntity.userEntity.userHeadId = data.fileId;
                this.userHeadImageSrc = BaseUtility.BuildAction(this.acInterface.userHeadUrl, {fileId: this.formEntity.userEntity.userHeadId});
            }
        }
    });
</script>
</body>
</html>