<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeExtendLib"></th:block>
</head>
<body>
<div id="appList" class="list-2column">
    <div class="left-outer-wrap" style="width: 250px;">
        <select-organ-single-comp @on-selected-organ="changeOrgan" ref="selectOrganComp"></select-organ-single-comp>
        <div class="inner-wrap" style="position:absolute;top: 30px;bottom: 10px;height: auto">
            <div class="tool-bar-wrap">
                <div alt="新增部门" title="新增部门" class="add" @click="addDepartment()"></div>
                <div alt="修改部门" title="修改部门" class="edit" @click="editDepartment"></div>
                <div alt="删除部门" title="删除部门" class="del" @click="delDepartment"></div>
                <div alt="浏览部门" title="浏览部门" class="view" @click="viewDepartment"></div>
                <div alt="上移" title="上移" class="order-up" @click="moveDepartment('up')"></div>
                <div alt="下移" title="下移" class="order-down last" @click="moveDepartment('down')"></div>
            </div>
            <div>
                <ul id="zTreeUL" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="right-outer-wrap iv-list-page-wrap" style="padding: 10px;left: 260px">
        <div class="list-simple-search-wrap" id="list-simple-search-wrap">
            <table class="ls-table">
                <colgroup>
                    <col style="width: 80px">
                    <col style="">
                    <col style="width: 80px">
                    <col style="">
                    <col style="width: 100px">
                    <col style="">
                    <col style="width: 80px">
                    <col style="">
                    <col style="width: 80px">
                </colgroup>
                <tr class="ls-table-row">
                    <td>用户名：</td>
                    <td>
                        <i-input v-model="searchCondition.userName" placeholder=""></i-input>
                    </td>
                    <td>账号：</td>
                    <td>
                        <i-input v-model="searchCondition.account" placeholder=""></i-input>
                    </td>
                    <td>手机号码：</td>
                    <td>
                        <i-input v-model="searchCondition.userPhoneNumber"></i-input>
                    </td>
                    <td>全局搜索：</td>
                    <td>
                        <radio-group v-model="searchCondition.searchInALL">
                            <radio label="是">是</radio>
                            <radio label="否">否</radio>
                        </radio-group>
                    </td>
                    <td><i-button type="primary" @click="search"><Icon type="android-search"></Icon> 查询 </i-button></td>
                </tr>
            </table>
        </div>
        <div id="list-button-wrap" class="list-button-outer-wrap">
            <div class="list-button-inner-wrap">
                <button-group>
                    <i-button type="success" @click="add()" icon="md-add"> 新增 </i-button>
                    <i-button type="primary" @click="statusEnable('启用')" icon="md-checkmark-circle"> 启用 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 禁用 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 迁移 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 兼职 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 取消兼职 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 重置密码 </i-button>
                    <i-button type="primary" @click="statusEnable('禁用')" icon="md-close-circle"> 角色设置 </i-button>
                    <i-button type="primary" @click="move('up')" icon="md-arrow-up"> 上移 </i-button>
                    <i-button type="primary" @click="move('down')" icon="md-arrow-down"> 下移 </i-button>
                </button-group>
            </div>
            <div style="clear: both"></div>
        </div>
        <i-table :height="listHeight" stripe border :columns="columnsConfig" :data="tableData"
                 class="iv-list-table" :highlight-row="true"
                 @on-selection-change="selectionChange"></i-table>
        <div style="float: right;" id="list-pager-wrap">
            <page @on-change="changePage" :current.sync="pageNum" :page-size="pageSize" show-total
                  :total="pageTotal"></page>
        </div>
    </div>
</div>
<script>
    var appList=new Vue({
        el:"#appList",
        mounted:function () {
            //this.initTree();
            window.setTimeout(function () {
                appList.listHeight=ListPageUtility.GetGeneralPageHeight(-20);
            },500);
            var oldSelectedOrganId=CookieUtility.GetCookie("DMORGSID");
            if(oldSelectedOrganId){
                this.$refs.selectOrganComp.setOldSelectedOrgan(oldSelectedOrganId);
                this.initTree(oldSelectedOrganId);
            }
        },
        data:{
            acInterface:{
                <!--Department -->
                getDepartmentTreeData:"/PlatFormRest/SSO/Department/GetDepartmentsByOrganId",
                departmentEditView:"/HTML/SSO/Department/DepartmentEdit.html",
                deleteDepartment:"/PlatFormRest/SSO/Department/Delete",
                moveDepartment:"/PlatFormRest/SSO/Department/Move",
                <!--List -->
                listEditView:"/HTML/SSO/Department/DepartmentUserEdit.html",
                reloadListData:"/PlatFormRest/SSO/DepartmentUser/GetListData",
                deleteListRecord:"/PlatFormRest/DevDemo/TreeAndList/DevDemoTLList/Delete",
                listStatusChange:"/PlatFormRest/DevDemo/TreeAndList/DevDemoTLList/StatusChange",
                listMove:"/PlatFormRest/DevDemo/TreeAndList/DevDemoTLList/Move"
            },
            <!--Tree-->
            treeIdFieldName:"deptId",
            treeObj:null,
            treeSelectedNode:null,
            treeSetting:{
                async : {
                    enable : true,
                    // Ajax 获取数据的 URL 地址
                    url :""
                },
                // 必须使用data
                data:{
                    key:{
                        name:"deptName"
                    },
                    simpleData : {
                        enable : true,
                        idKey : "deptId", // id编号命名
                        pIdKey : "deptParentId"  // 父id编号命名
                    }
                },
                // 回调函数
                callback : {
                    onClick : function(event, treeId, treeNode) {
                        appList.treeNodeSelected(event,treeId,treeNode);
                    },
                    //成功的回调函数
                    onAsyncSuccess : function(event, treeId, treeNode, msg){
                        appList.treeObj.expandAll(true);
                    }
                }
            },
            <!--List-->
            idFieldName:"ddtlId",
            searchCondition:{
                userName:"",
                account:"",
                userPhoneNumber:"",
                searchInALL:"否"
            },
            columnsConfig: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: '用户名',
                    key: 'userName',
                    align: "center",
                    width: 140,
                }, {
                    title: '账号',
                    key: 'userAccount',
                    width:200,
                    align: "center"
                }, {
                    title: '手机号码',
                    key: 'userPhoneNumber',
                    width:200,
                    align: "center"
                }, {
                    title: '是否主属',
                    key: 'duIsMain',
                    width: 120,
                }, {
                    title: '职位',
                    align: "center",
                    key: 'duTitle'
                }, {
                    title: '状态',
                    key: 'userDesc',
                    align: "center",
                    width: 120
                }, {
                    title: '操作',
                    key: 'dictGroupId',
                    width: 120,
                    align: "center",
                    render: function (h, params) {
                        return h('div',{class: "list-row-button-wrap"},[
                            ListPageUtility.IViewTableInnerButton.ViewButton(h,params,appList.idFieldName,appList),
                            ListPageUtility.IViewTableInnerButton.EditButton(h,params,appList.idFieldName,appList),
                            ListPageUtility.IViewTableInnerButton.DeleteButton(h,params,appList.idFieldName,appList)
                        ]);
                    }
                }
            ],
            tableData: [],
            selectionRows: null,
            pageTotal: 0,
            pageSize: 12,
            pageNum: 1,
            listHeight: ListPageUtility.DefaultListHeight_50()
        },
        methods:{
            <!--Organ-->
            changeOrgan:function(organData){
                //console.log(organData);
                CookieUtility.SetCookie1Month("DMORGSID",organData.organId);
                this.initTree(organData.organId);
            },
            <!--DepartmentTree-->
            initTree:function (organId) {
                var _self=this;
                AjaxUtility.Post(this.acInterface.getDepartmentTreeData, {"organId":organId}, function (result) {
                    if (result.success) {
                        _self.treeObj=$.fn.zTree.init($("#zTreeUL"), _self.treeSetting,result.data);
                        _self.treeObj.expandAll(true);
                    }
                    else {
                        DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                    }
                }, "json");
            },
            treeNodeSelected:function (event, treeId, treeNode) {
                // 根节点不触发任何事件
                //if(treeNode.level != 0) {
                this.treeSelectedNode=treeNode;
                this.selectionRows=null;
                this.pageNum=1;
                this.clearSearchCondition();
                this.searchCondition.groupId.value=this.treeSelectedNode[this.treeIdFieldName];
                this.reloadData();
                //appList.reloadTreeTableData();
                //}
            },
            addDepartment:function () {
                if (this.treeSelectedNode != null) {
                    var url = BaseUtility.BuildView(this.acInterface.departmentEditView, {
                        "op": "add",
                        "parentId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门管理"}, 3);
                }
                else {
                    DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, "请选择父节点!", null);
                }
            },
            editDepartment:function () {
                if(this.treeSelectedNode!=null) {
                    var url = BaseUtility.BuildView(this.acInterface.departmentEditView, {
                        "op": "update",
                        "recordId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门管理"}, 3);
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择需要编辑的节点!",null);
                }
            },
            viewDepartment:function () {
                var url = BaseUtility.BuildView(this.acInterface.departmentEditView, {
                    "op": "view",
                    "recordId": this.treeSelectedNode[appList.treeIdFieldName]
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门管理"}, 3);
            },
            delDepartment:function () {
                //var url="/PlatForm/devdemo/TreeAndList/DevDemoTLTree/Delete.do";
                var _self=this;
                var recordId=this.treeSelectedNode[appList.treeIdFieldName];
                DialogUtility.Confirm(window, "确认要删除选定的节点吗？", function () {
                    AjaxUtility.Delete(_self.acInterface.deleteDepartment, {recordId: recordId}, function (result) {
                        if (result.success) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                appList.treeObj.removeNode(appList.treeSelectedNode);
                                appList.treeSelectedNode=null;
                            });
                        }
                        else {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                        }
                    }, "json");
                });
            },
            moveDepartment:function (type) {
                if(this.treeSelectedNode!=null) {
                    var recordId = this.treeSelectedNode[appList.treeIdFieldName];
                    AjaxUtility.Post(this.acInterface.moveDepartment, {recordId: recordId,type:type}, function (result) {
                        if (result.success) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                if(type=="down") {
                                    if(appList.treeSelectedNode.getNextNode()!=null) {
                                        appList.treeObj.moveNode(appList.treeSelectedNode.getNextNode(), appList.treeSelectedNode, "next", false)
                                    }
                                }else{
                                    if(appList.treeSelectedNode.getPreNode()!=null) {
                                        appList.treeObj.moveNode(appList.treeSelectedNode.getPreNode(), appList.treeSelectedNode, "prev", false);
                                    }
                                }
                            });
                        }
                        else {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message,null);
                        }
                    }, "json");
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择需要编辑的节点!",null);
                }
            },
            newTreeNode : function (newNodeData) {
                var silent = false;
                appList.treeObj.addNodes(this.treeSelectedNode,newNodeData,silent);
            },
            updateNode : function (newNodeData) {
                this.treeSelectedNode=$.extend(true,this.treeSelectedNode, newNodeData);
                appList.treeObj.updateNode(this.treeSelectedNode);
            },
            <!--List-->
            clearSearchCondition:function () {
                for(var key in this.searchCondition){
                    this.searchCondition[key].value="";
                }
            },
            selectionChange: function (selection) {
                this.selectionRows = selection;
            },
            reloadData: function () {
                ListPageUtility.IViewTableLoadDataSearch(this.acInterface.reloadListData,this.pageNum,this.pageSize,this.searchCondition,this,this.idFieldName,true,null,false);
                //this.selectionRows=null;
            },
            add: function () {
                if(this.treeSelectedNode!=null) {
                    var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                        "op": "add",
                        "departmentId": this.treeSelectedNode[appList.treeIdFieldName]
                    });
                    DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门用户管理"}, 2);
                }
                else {
                    DialogUtility.Alert(window,DialogUtility.DialogAlertId,{},"请选择分组!",null);
                }
            },
            edit: function (recordId) {
                var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                    "op": "update",
                    "recordId": recordId
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门用户管理"}, 2);
            },
            view:function (recordId) {
                var url = BaseUtility.BuildView(this.acInterface.listEditView, {
                    "op": "view",
                    "recordId": recordId
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogId, url, {title: "部门用户管理"}, 2);
            },
            del: function (recordId) {
                ListPageUtility.IViewTableDeleteRow(this.acInterface.deleteListRecord,recordId,appList);
            },
            statusEnable: function (statusName) {
                ListPageUtility.IViewChangeServerStatusFace(this.acInterface.listStatusChange,this.selectionRows,appList.idFieldName,statusName,appList);
            },
            move:function (type) {
                ListPageUtility.IViewMoveFace(this.acInterface.listMove,this.selectionRows,appList.idFieldName,type,appList);
            },
            changePage: function (pageNum) {
                this.pageNum = pageNum;
                this.reloadData();
                this.selectionRows=null;
            },
            search:function () {
                this.pageNum=1;
                this.reloadData();
            }
        }
    });
</script>
</body>
</html>